<nav class="navHornz">
  <div class="adminbar">
    <div class="text">
      <span>{{myUser.user.email}}</span>
      <span style="font-size: 10px; color: gray;" >Admin</span>
    </div>
    <img  id="user" src="./assets/user007.png" height="50">
    <button mat-icon-button id="moreHoriz" [matMenuTriggerFor]="menu">
      <!-- <img src="./assets/more.png" height="20"> -->
    </button>
    <mat-menu #menu="matMenu">
      <button class="matMenu" mat-menu-item >
        <mat-icon>edit</mat-icon>
        <span >แก้ไขรหัสผ่าน </span>
      </button>
      <button class="matMenu" mat-menu-item >
        <mat-icon>delete_outline</mat-icon>
        <span  >ลบข้อมูลผู้ใช้ </span>
      </button>
    </mat-menu>
  </div>
</nav>
