.navHornz{
  width: 100%;
  height: 90px;
  background-color:white;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  border-bottom: 2px solid #F1F6FE;
}
.navHornz {
  font-family: 'Prompt';
}
.text{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.text h5{
  color: gray;
  font-family: 'Prompt';
}
.adminbar{
  display: flex;
  margin-right: 20px;
  margin-top: 5px ;
  align-items: center;
}
#user{
  margin-left: 15px;
}
.matMenu{
  font-family: 'Prompt';
}


