*{
  font-family: 'Prompt';
}
.userDetial{
  /* border: 1px solid rgba(128, 128, 128, 0.603); */
  width: 60%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 15px;
  font-family: 'Prompt';
  border-radius: 20px;
  background-color: white;
}
img{
  max-width: 300px;
  /* padding: 2em; */
}
h2 , .detailBox{
  font-family: 'Prompt';
}
:host ::ng-deep .mat-tab-label .mat-tab-label-content{
  color: #5D6B92;
  font-family: 'Prompt';
}
.userInfo {
  font-weight: 400;
  font-family: 'Prompts';
  padding-left: 30px;
}
.userInfo th{
  text-align: left;
  padding-right: 20px;
}
.detailBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}
mat-tab-group{
  margin-top: 20px;
  width: 100%;
}
.menu {
  width: 90px;
}
.container{
  display: flex;
  background-color: #F5F6FA;
  height: auto;
  width: 100%;
  min-height: 100%;
  z-index: 10;
  padding: 5em;
}
.table{
  width: 100%;
  height: 500px;
  max-height: 600px;
  background-color: white;

}
