<div class="menu">
  <app-menubar-doctor></app-menubar-doctor>
</div>
<div class="container">
  <div class="detailBox">
    <h2 *ngFor="let item of userList">
      ข้อมูลผู้ใช้
    </h2>
    <div class="userDetial" *ngFor="let item of userList">

      <img src="./assets/4401907.jpg" width="300">
      <div class="userInfo">
        <table style="width:100%">
          <tr>
            <th>ชื่อผู้ใช้</th><td>{{ item.value.user }}</td>
          </tr>
          <tr>
            <th>อีเมล</th><td>{{ item.value.email }}</td>
          </tr>
          <tr>
            <th>เพศ</th><td>{{ item.value.gender }}</td>
          </tr>
          <tr>
            <th>อาชีพ</th><td>{{ item.value.career }}</td>
          </tr>
          <tr>
            <th>ชื่อการศึกษาผู้ใช้</th><td>{{ item.value.education }}</td>
          </tr>
          <tr>
            <th>อายุ</th><td>{{ item.value.age }}</td>
          </tr>

        </table>

      </div>
    </div>
  </div>
  <div>
     <h2 >
    ประวัติการทำแบบทดสอบของผู้ใช้
  </h2>
  <div class="table">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab  label="แบบทดสอบโรคซึมเศร้า">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef=""> ลำดับ </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              {{ i + pageIndex }}.
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> วันที่ </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index">
              {{ depressDate[i] }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> เวลา </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index">
              {{ depressTime[i] }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score">
            <mat-header-cell *matHeaderCellDef> คะแนน </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value.totalScore }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="result">
            <mat-header-cell *matHeaderCellDef> ผล </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value.result }}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          [length]="totalTable"
          [pageSize]="5"
          [pageSizeOptions]="pageSize"
          (page)="showPage($event)"
        >
        </mat-paginator>
      </mat-tab>
      <mat-tab label="แบบทดสอบโรคเครียด">
        <mat-table
          [dataSource]="dataSourceStress"
          matSort
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef=""> ลำดับ </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              {{ i + pageIndex }}.
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> วันที่ </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              {{ stressDate[i] }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> เวลา </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index">
              {{ stressTime[i] }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score">
            <mat-header-cell *matHeaderCellDef> คะแนน </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value.totalScore }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="result">
            <mat-header-cell *matHeaderCellDef> ผล </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value.result }}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          [length]="totalTable"
          [pageSize]="5"
          [pageSizeOptions]="pageSize"
          (page)="showPage($event)"
        >
        </mat-paginator>
      </mat-tab>
      <mat-tab label="แบบทดสอบการฆ่าตัวตาย">
        <mat-table
          [dataSource]="dataSourceSuicide"
          matSort
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef=""> ลำดับ </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              {{ i + pageIndex }}.
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> วันที่ </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index">
              {{ suicideDate[i] }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> เวลา </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index">
              {{ suicideTime[i] }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score">
            <mat-header-cell *matHeaderCellDef> คะแนน </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value.totalScore }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="result">
            <mat-header-cell *matHeaderCellDef> ผล </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value.result }}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          [length]="totalTable"
          [pageSize]="5"
          [pageSizeOptions]="pageSize"
          (page)="showPage($event)"
        >
        </mat-paginator>
      </mat-tab>
      <mat-tab label="แบบทดสอบตัวชี้วัดความสุข" onclick="test($event)">
        <mat-table
          [dataSource]="dataSourceHappy"
          matSort
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef=""> ลำดับ </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              {{ i + pageIndex }}.
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> วันที่ </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              {{ happyDate[i] }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> เวลา </mat-header-cell>
            <mat-cell *matCellDef="let element ; let i = index">
              {{ happyTime[i] }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="score">
            <mat-header-cell *matHeaderCellDef> คะแนน </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value.totalScore }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="result">
            <mat-header-cell *matHeaderCellDef> ผล </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value.result }}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          [length]="totalTable"
          [pageSize]="5"
          [pageSizeOptions]="pageSize"
          (page)="showPage($event)"
        >
        </mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </div>
  </div>

</div>
