<p>showmap works!</p>
<agm-map [zoom]="16" [latitude]="lat" [longitude]="lng" id="map" (mapClick)="mapEvent($event)" >
  <agm-marker
  *ngFor="let item of locationItems"
   [latitude]="lat"
   [longitude]="lng"
   (markerClick)="mapEvent($event)">
  </agm-marker>
</agm-map>
