<div class="blogEdit" *ngIf="alertStatus">
<span class="pic">
  <img src="./assets/password3.png" width="150px">
  <p>เปลี่ยนรหัสผ่าน</p>
  <h6>กรอกข้อมูลอย่างถูกต้องและครบถ้วนก่อนกดส่ง</h6>
</span>
  <form [formGroup]="form">
    <mat-form-field appearance="legacy">
      <mat-label>email</mat-label>
      <input
        matInput
        type="text"
        readonly
        style="color: gray;"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>password</mat-label>
      <input matInput type="text" formControlName="password" />
      <mat-error>กรุณาใส่ข้อความ</mat-error>
      <mat-hint align="start">ตัวอักษร8ตัวขึ้นไป มีตัวอักษรพิมพ์เล็กหรือพิมพ์ใหญ่อย่างน้อย 1 ตัว</mat-hint>
    </mat-form-field>
  </form>
<div class="btn">
  <button mat-button mat-dialog-close >ยกเลิก</button>
  <button mat-button (click)="update()" >บันทึก</button>
</div>
</div>
<div class="boxConfirm" *ngIf="alertStatus==false">
  <img src="./assets/1x/checklist.png" width="100">
  <p>ทำการแก้ไขรหัสผ่านแล้ว</p>
  <p>กรุณาตรวจสอบอีเมลยืนยันกันเปลี่ยนรหัส</p>
</div>
