@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

form{
  display: flex;
  flex-direction: column;
}
.btn  {
  display: flex;
  justify-content: flex-end;

}
button{
  font-family: 'Prompt'!important;
  color: #335DFF !important;
}
.pic{
  padding: 20px;
  font-family: 'Prompt'!important;
  font-weight: 500 ;
  font-size: 20px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pic p {
  padding-top: 10px;
}
.pic h6{
  font-family: 'Prompt'!important;
  color:gray ;
  font-size: 15px;
}
mat-form-field{
  width: 100%;
}
.boxConfirm{
  font-family: 'Prompt'!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
