<div class="container">
  <h1>แก้ไขไฟล์</h1>
  <br />

  <form [formGroup]="form" class="example-form">
    <mat-form-field class="example-full-width" appearance="legacy">
      <mat-label>ชื่อไฟล์</mat-label>
      <input type="text" readonly matInput formControlName="name" />
      <!-- <mat-error></mat-error> -->
    </mat-form-field>

    <div class="uploadPad" (click)="inputFile.click()">
      <img src="./assets/cloud-01.png" width="40" />
      <span style="font-size: 12px; font-family: 'Prompt'; color: gray"
        >PDF เท่านั้น</span
      >
      <span style="font-size: 15px; font-family: 'Prompt'"
        >เลือกไฟล์ของคุณ</span
      >
    </div>
    <div *ngIf="newUpload.value?.name">
      <mat-form-field>
        <input
          type="text"
          matInput
          id="uploadInput"
          matTooltip="PDF,JPG,JPEG"
          readonly
          [value]="newUpload.value?.name"
        />
        <button
          type="button"
          matSuffix
          mat-icon-button
          appUploadButton
        ></button>
        <mat-error>กรุณาเพิ่มไฟล์เอกสาร</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field id="feq" class="example-full-width" appearance="legacy">
      <mat-label>ความถี่ในการทำแบบทดสอบ (ครั้ง/สัปดาห์)</mat-label>
      <input type="text" matInput formControlName="fequency" />
      <!-- <mat-error></mat-error> -->
    </mat-form-field>
    <div class="inputFile" style="display: none">
      <input
        type="file"
        #inputFile
        accept="application/pdf , image/jpg , image/jpeg"
        (change)="onFileChange($event)"
      />
    </div>

    <div class="button-container">
      <button
        type="button"
        mat-stroked-button
        color="basic"
        (click)="cancelUpdate()"
      >
        Cancel
      </button>
      &nbsp;
      <button
        id="btnAdd"
        type="button"
        mat-flat-button
        color="primary"
        (click)="update()"
      >
        Update
      </button>
    </div>
  </form>
</div>
