@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.example-full-width{
  color: gray;
}
form{
  display: flex;
  flex-direction: column;
  padding: 0;
}
.button-container{
  display: flex;
  justify-content: flex-end
}
.container{
  width: 500px;
  height: auto;
  font-family: 'Prompt';
}
.container h1{
  font-family: 'Prompt';

}
mat-form-field{
  font-family: 'Prompt';
}
.uploadPad{
  width: 100%;
  height: 100px;
  background-color: #f1f6ff8a;
  border: 1px dashed gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#feq{
  padding-top: 20px;
}
