*{
  padding: 0;
  margin: 0;
}
.div{
  display: flex;
  height: 100%;
  overflow: hidden;
}
.box{
  display: flex;
  flex-direction: column;
  padding: 5em;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  /* padding-left: 20em; */
  background-color: #F5F6FA;
  /* margin-top: -5%; */
}
.boxGraph{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.graph1{
  width: 70%;
  height: 400px;
  /* box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.356); */
  padding:3em;
  padding-bottom: 3em;
  border-radius: 20px;
  background-color: white;
}
.graph2{
  width: auto;
  height: 400px;
  /* box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.356); */
  padding: 3em;
  border-radius: 20px;
  padding-bottom: 3em;
  margin-left: 20px;
  background-color: white;
}
canvas{
  /* width: 200px;
  height: 200px; */
}
.menu{
  width: 90px;
  z-index: 10;
}
mat-table{
  width: 100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: 'Prompt';
  padding: 10px;
  border: none;
  color: #5D6B92;
}
td{
  text-align: center;
  border-top: 1px solid rgba(105, 104, 104, 0.349);
  padding: 15px;
  cursor: pointer;
}
.contentTable:hover{
  padding: 20px;
  box-shadow:  0px 5px 10px rgba(128, 128, 128, 0.219);
  border: none;
}
.headGraph{
  font-family: 'Prompt';
  font-weight: 500;
}
.headContent{
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: 'Prompt';
  font-weight: 500;
  padding: 10px;
  font-size: 20px;

}
