<!--------------------------------หน้ากราฟ----------------------------------------->
<!--------------------------------หน้ากราฟ----------------------------------------->
<!--------------------------------หน้ากราฟ----------------------------------------->
<!--------------------------------หน้ากราฟ----------------------------------------->
<!--------------------------------หน้ากราฟ----------------------------------------->
<!--------------------------------หน้ากราฟ----------------------------------------->
<div class="div">
  <div class="menu">
    <app-menubar-doctor></app-menubar-doctor>
  </div>
  <div class="box">
    <span class="headContent">
      <mat-icon style="font-size: 25px;">insights</mat-icon>
      {{ testName }}
      {{ showdate }}
    </span>
    <div class="boxGraph">
      <div class="graph1">
        <p class="headGraph">สถิติผู้เข้าทำแบบทดสอบ</p>
        <canvas id="BarChart"></canvas>
      </div>
      <div class="graph2">
        <p class="headGraph">สถิติคะแนนของผู้ทำแบบทดสอบ</p>
        <canvas id="lineChart"></canvas>
      </div>
    </div>
    <br />
    <br />
    <table style="width: 100%">
      <tr>
        <th>จำนวนผู้ใช้ทั้งหมด</th>
        <th>จำนวนผู้ใช้เพศหญิง</th>
        <th>จำนวนผู้ใช้เพศชาย</th>
        <th>คะแนนเฉลี่ยเพศชาย</th>
        <th>คะแนนเฉลี่ยเพศหญิง</th>
        <th>คะแนนเฉลี่ยรวม</th>
      </tr>
      <tr class="contentTable" (click)="userDatail()">
        <td *ngIf="result.length">{{ result.length }}</td>
        <td *ngIf="!result.length">{{ "-" }}</td>

        <td *ngIf="result_x.length">{{ lenghtX }}</td>
        <td *ngIf="!result_x.length">{{ "-" }}</td>

        <td *ngIf="result_y.length">{{ lenghtY }}</td>
        <td *ngIf="!result_y.length">{{ "-" }}</td>

        <td *ngIf="scoreY">{{ (scoreY / lenghtY).toFixed(2) }}</td>
        <td *ngIf="!scoreY">{{ "-" }}</td>

        <td *ngIf="scoreX">{{ (scoreX / lenghtX).toFixed(2) }}</td>
        <td *ngIf="!scoreX">{{ "-" }}</td>

        <td *ngIf="score">{{ (score / result.length).toFixed(2) }}</td>
        <td *ngIf="!score">{{ "-" }}</td>
      </tr>
    </table>
  </div>
</div>
