<div class="navbar">
  <div class="menulist">
    <div class="menu AppName">
      <img src="./assets/logo.png" width="100%" />
      <!-- <span>Mood Tracker</span> -->
    </div>
    <div class="menu">
      <div class="insideMenu" (click)="routerPath('setting/home')">
        <span><mat-icon> dashboard </mat-icon>หน้าหลัก</span>
      </div>
    </div>
    <div class="menu">
      <div class="insideMenu" (click)="routerPath('setting/user')">
        <span><mat-icon  style="color: #ffca43;"> groups </mat-icon>บัญชีผู้ใช้</span>
      </div>
    </div>
    <div class="menu">
      <div class="insideMenu" (click)="routerPath('setting/addAdmin')">
        <span><mat-icon > support_agent</mat-icon> ผู้ดูแล</span>
      </div>
    </div>
    <div class="menu">
      <div class="insideMenu" (click)="routerPath('setting/newsUpdate')">
        <span><mat-icon> history_edu </mat-icon>ข่าว</span>
      </div>
    </div>
    <div class="menu">
      <div class="insideMenu" (click)="routerPath('setting/map')">
        <span><mat-icon style="color: #FAA6B6;"> location_on </mat-icon>สถานที่</span>
      </div>
    </div>
    <div class="menu">
      <div class="insideMenu insideMenu2" (click)="auth.SignOut()">
        <span><mat-icon> login </mat-icon>ลงชื่อออก</span>
      </div>
    </div>
  </div>
</div>
