@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.navbar {
  width: 170px;
  height: 100%;
  background-color: #F7F8FC;
  position: fixed;
  z-index: 15;
}
.menubar{
  width: 100%;
  z-index: 10;
  background-color: #335DFF;
}
.AppName{
  width: auto;
  padding-bottom: 3em!important;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: 'Fredoka One', cursive;
}
.AppName img,span{
  margin-left:3px ;
}

.menulist{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start ;
  padding: 20px;
}
.menu{
  width: 100%;
  padding: 10px 0 10px 0;
}
.insideMenu{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 15px;
  color: #5D6B92;
  font-weight: 500;
  font-family: 'Prompt';
}
.menu:focus , .insideMenu:focus{
  border: none;
}
.insideMenu mat-icon{
  width: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-start;
  left: 0;
  color: #335DFF;
}
.insideMenu:hover mat-icon{
  color: white !important;
}
.insideMenu2 img{
  width:35px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  left: 0;
}
.insideMenu span{
  display: flex;
  align-items: center;
}
.insideMenu:hover{
  background-color: #335DFF;
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
