<div class="block">
  <div class="menu">
    <app-navbar></app-navbar>
  </div>
  <div id="map">
    <div class="tapData">
      <div class="headOfTap">
        <div class="headPad">
          <div>
            <h1 id="headTapH1">รายชื่อโรงพยาบาล</h1>
            <p id="headTapH1">เฉพาะโรงพยาบาลที่มีแผนกจิตเวช</p>
          </div>
          <img src="./assets/doctordoctor.png" width="200" >
        </div>
        <div class="searchTap">
          <mat-form-field class="searchKey" appearance="outline">
            <input
              placeholder="ค้นหา"
              [(ngModel)]="searchKey"
              (keyup)="applyFilter()"
              matInput
            />
            <mat-icon class="searchIcon" *ngIf="searchKey == null" matSuffix
              >search</mat-icon
            >
            <button
              class="searchIcon close"
              (click)="searchClear()"
              *ngIf="searchKey"
              mat-icon-button
              matSuffix
              aria-label="clear"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <span class="material-icons btn2" (click)="addmapOpen()"> add </span>
        </div>
      </div>

      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef=""> ลำดับ </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}.
        </mat-cell>
      </ng-container>

        <ng-container class="hospital" matColumnDef="place">
          <mat-header-cell *matHeaderCellDef> โรงพยาบาล </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="goMap(element)">
            {{ element.value.hospitalName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="province">
          <mat-header-cell *matHeaderCellDef> จังหวัด </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.value.province }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef> เบอร์โทรศัพท์ </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.value.phone }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action" class="action">
          <mat-header-cell *matHeaderCellDef> เครื่องมือ </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span
              class="material-icons"
              id="editIcon"
              (click)="editLocation(element)"
            >
              edit</span
            >
            <span
              class="material-icons"
              id="deleteIcon"
              (click)="deleteLocation(element)"
            >
              delete</span
            >
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
      [length]="totalTable"
      [pageSize]="5"
      [pageSizeOptions]="pageSize"
      (page)="showPage($event)"
    >
    </mat-paginator>
      <!-- <div class="content"> -->
      <!-- <div class="information"> -->
      <!---------------------TABLE DATA------------------------->

      <!---------------------TABLE DATA------------------------->
      <!--
        <div class="container">
          <mat-paginator
            [length]="totalTable"
            [pageSize]="5"
            [pageSizeOptions]="pageSize"
            (page)="showPage($event)"
          >
          </mat-paginator>
        </div> -->

    </div>
    <!-- <div id="map"> -->
    <agm-map
      [zoom]="16"
      [latitude]="lat"
      [longitude]="lng"
      id="map"
      (mapClick)="mapEvent($event)"
    >
      <agm-marker
        *ngFor="let item of marker"
        [latitude]="item.value.latitude"
        [longitude]="item.value.longitude"
        [title]="item.value.locationName"
        [iconUrl]="icon"
        (markerClick)="mapEvent($event)"
      >
      </agm-marker>
    </agm-map>
  </div>
</div>

<!-- </div> -->
