/* .content{
  width: 100%;
  height: 100%;
  padding: 5em 0em 0 2.5em;
} */
.menu{
  width: 200px;
  z-index: 25;
  /* display: none; */
}
.tapData{
  min-width: 650px;
  min-height: 100vh;
  height: 120vh;
  background-color:rgb(255, 255, 255);
  z-index: 20;
  padding: 20px;
  margin-right: auto;
  padding-bottom: 3em ;
}
.headOfTap{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Prompt';
}
.headOfTap p{
  font-family: 'Prompt';
  font-size: 15px;
}
.headOfTap h1{
  font-family: 'Prompt';
  font-size: 25px;
}
mat-cell{
  cursor: pointer;
}
mat-row{
  border: none;
}
mat-row:hover{
  cursor: pointer;
  margin-bottom: 0.3em;
  border: none;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.288);
}


.hospitalBox{
  width: 100%;
  height: 95px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 15px rgb(239,240,251);
  cursor: pointer;
}
.hospitalBox:hover{
  background-color:  rgba(239, 240, 251, 0.384);
}
.img{
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.HospitalData{
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Prompt';
  width: 100%;
}
.hospitalName{
  font-size: 15px;
}
.matMenu{
  font-family: 'Prompt';

}
mat-table{
  box-shadow: none;
  border: 1px solid #E0E0E0;
  border-bottom: none;
  font-family: 'Prompt';
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: transparent;
}
mat-paginator{
  box-shadow: none;
  border: 1px solid #E0E0E0;
  border-top: none;
  font-family: 'Prompt';
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: transparent;
}
.btn2{
  color: white;
  padding: 2.5px;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #FAA6B6;
  border: 3px solid #FDE7EB;
  margin-bottom: 10px;
  margin-left: 5px;
}
.btn1{
  color: white;
  padding: 2.5px;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #3D65FE;
  border: 3px solid #C1D3FF;
  margin-bottom: 10px;
  margin-left: 5px;
}
.searchTap mat-form-field {
  width: 100%;
  margin-bottom: 20px;
  height: 40px !important;
  border: none;
}
.searchTap mat-form-field input  {
  position: absolute;
  top: 0;
  border: none;
  font-family: "Prompt" !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchTap{
  display: flex;
  align-items: center;
}

.block{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.searchKey {
  width: 100% ;
  display: block;
  position: relative ;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.411) !important;
}

.searchIcon {
  position: absolute;
  margin-top: -37px !important;
  margin-left: -20px !important;
  color: #aaaaaa;
}
.close{
  margin-top: -38px !important;
  margin-left: -28px !important;
}

.show-map{
  opacity: 1;
}
#map{
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  /* margin-top: 10em; */
  /* z-index: -1; */
}
agm-map {
  height: 100vh;
  width: 700px !important;
  margin-right: left;
  position: fixed;
}
.button-container {
  width: 100%;
}

#editIcon:hover{
  color: rgb(4, 156, 4);
}
#deleteIcon:hover{
  color:red;
}
.material-icons{
  cursor: pointer;
}
#btnAdd {
  background-color: rgb(0, 0, 0) !important;
  color: white;
}

@media only screen and (max-width:750px) {
   .block {
     display: block;
   }
   #map{
     display: inline-block;
     padding:5px ;
     padding-top: 10px;
     width: 100%;
     height: 400px;
   }
}
.province , .call{
   font-size: 12px;
   color: #aaaaaa;
}
/*
.mat-elevation-z8 {
  width: 500px;
} */
/* mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
  padding-right: 0px !important;
}
mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
  padding-right: 0px;
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  width: 150px;
} */
.menu_horz{
  height: 100px;
  background-color: #3D65FE;
}
.headPad{
  width: 100%;
  height: 180px;
  background-color: #b1cff39a;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:3em;
  margin-top: 2em;
}
.headPad img{
  margin-bottom: 2.3em;
}

