<div class="container">
  <div class="menu">
    <app-menubar-doctor></app-menubar-doctor>
  </div>
  <div class="profile">
    <p>doctorprofile works!</p>
    <p *ngFor="let item of doctor">
      {{ item.email }}<br />
      <span>{{ item.firstname }} {{ item.lastname }}</span>
    </p>
    <button mat-raised-button color="primary">change password</button>
  </div>
</div>
