@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.container{
  display: flex;
  max-width: 700px;
  max-height: 700px;
  width:700px;
  height:500px;
  flex-direction: column;
}
.form,form{
  display: flex;
  flex-direction: column;
}
mat-form-field , button , mat-select , mat-option{
  font-family: 'Prompt';
}
.button-container{
  width: 100%;
  display: flex;
  padding-top: 5px;
}
#btnAdd{
  width: 100%;
  background-color: #335DFF !important ;
  color: white;
}
textarea{
  min-height: 220px !important;
}
h1{
  font-family: 'Prompt';
}
.topic{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.topic span{
  cursor: pointer;
  color: #8492B9;
}

