<div class="container">
  <div class="topic">
    <h1>เพิ่มเรื่องราว</h1>
    <button mat-icon-button>
      <span class="material-icons" mat-dialog-close>close</span>
    </button>
  </div>
  <div class="form">
    <form [formGroup]="form" class="example-form">
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>หัวเรื่อง</mat-label>
        <input
          matInput
          placeholder="หัวข้อของคุณวันนี้คืออะไร ?"
          formControlName="topic"
        />
        <mat-error>กรุณาใส่ข้อความ</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>ประเภทข่าว</mat-label>
        <mat-select formControlName="type">
          <mat-option
            id="matoption"
            [value]="item"
            *ngFor="let item of newsType"
            >{{ item }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <quill-editor
        [style]="textToolStyle"
        [modules]="toolconfig"
        (onContentChanged)="maxlenght($event)"
        formControlName="article"
      >
      </quill-editor>
    </form>
  </div>
</div>
<div align="end"  *ngIf="article">{{article+"/"+"1000"}}</div>
<div class="button-container">
  <button id="btnAdd" type="button" (click)="newsUpload()" mat-flat-button>
    อัพโหลดข่าวสาร
  </button>
</div>
