.menubar{
  height: 100%;
  width: 90px;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-shadow: 5px 0px 6px rgba(78, 78, 78, 0.151); */
  border: none;
}
li{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  font-family: 'cloud';
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
}

ul:hover{
  display: flex;
  background-color: #3D65FE;
  padding: 20px;
  width: 100%;
  height: 70px;
  border-radius: 7px;
  color: white !important;
}
ul:hover span{
  color: white !important;
}
ul{
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 70px;
  border-radius: 7px;
}

.material-icons{
  justify-content:space-between;
  padding-right: 2px;
}
.logout{
  display: flex;
  height: 20px;
  justify-content: flex-end;
}
.logo{
  display: flex;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
}
ul span{
  color: #3D65FE;
}
