{{ userLogged.email }}
<div class="menubar">
  <li class="logo">
    <ul>
      <img src="./assets/sad (1).png" width="35" />
    </ul>
  </li>
  <li>
    <ul (click)="go('home')">
      <span class="material-icons"> layers </span>
    </ul>
    <ul (click)="go('stat')">
      <span class="material-icons"> insights </span>
    </ul>
    <ul (click)="go('file')">
      <span class="material-icons"> cloud_queue </span>
    </ul>
    <!-- <ul (click)="setting()">
      <span class="material-icons"> tune </span>

    </ul> -->
  </li>
  <li class="logout">
    <ul (click)="logout()">
      <span class="material-icons"> power_settings_new </span>
    </ul>
  </li>
</div>
