<div class="container">
  <div class="menu">
    <app-navbar></app-navbar>
    <app-navhornz></app-navhornz>
  </div>
  <div class="mailTap" *ngIf="mailTapStatus">
    <div class="form">
      <div class="topicMail">
        ข้อความอีเมล
        <button mat-icon-button (click)="mailTapStatus = false">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <form [formGroup]="form" class="example-form">
        <mat-form-field
          id="mailForm"
          class="example-full-width"
          appearance="legacy"
        >
          <mat-label>หัวเรื่อง</mat-label>
          <input matInput formControlName="topic" />
          <mat-error>กรุณาใส่ข้อความ</mat-error>
        </mat-form-field>
        <br />
        <div id="textform">
          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>ข้อความ</mat-label>
            <textarea
              matInput
              placeholder="ข้อความ"
              #message
              maxlength="400"
              formControlName="article"
            ></textarea>
            <mat-error>กรุณาใส่ข้อความ</mat-error>
            <mat-hint align="end">{{ message.value.length }} / 400</mat-hint>
          </mat-form-field>
        </div>
        <br />
        <input
          #inputFile
          class="file"
          type="file"
          accept="image/*, .doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document , .pdf, .xlsx,.xls,.ppt, .pptx"
          (change)="onFileChanges($event)"
        />
        <div class="uploadBox">
          <img src="./assets/cloud-01.png" width="70" />
          <p>JPG,PNG or Document</p>
          <h5>ขนาดไม่เกิน20MB</h5>
          <button (click)="inputFile.click()" class="chooseFile">
            เลือกไฟล์
          </button>
        </div>
        <div class="uploaded" *ngIf="file">
          <div class="uploadedBox animate__fadeInDown" *ngIf="file">
            <div class="icon">
              <img [src]="imgFile" width="40" height="40" />
            </div>

            <div class="progressLoad">
              <span class="itemfile">
                <p style="color: black" id="fileName">{{ file.name }}</p>
                <p style="color: #abbce9">{{ progressbar.toFixed(0) + "%" }}</p>
              </span>
              <mat-progress-bar [value]="progressbar"></mat-progress-bar>
            </div>
            <div class="icon" *ngIf="progressbar == 100">
              <img src="./assets/1x/checklist.png" width="30px" height="30px" />
            </div>
            <div class="icon animate__pulse" *ngIf="progressbar < 100">
              <img src="./assets/1x/Asset 2.png" width="20px" height="20px" />
            </div>
          </div>
        </div>

        <br />
        <div class="button-container">
          <button id="btnAdd" type="button" (click)="send()" mat-flat-button>
            ส่งอีเมล
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="content" id="content">
    <h1 style="font-size: 30px">ข่าวสารและอีเมล</h1>
    <div class="headTap">
      <span>ข่าวสาร</span>
      <div class="addNewsTask">
        <div class="btnNews" (click)="addNews()">
          <span class="material-icons"> add </span>
          <b>เพิ่มข่าวสาร</b>
        </div>
      </div>
      <div class="searchTap">
        <mat-form-field class="searchKey" id="searchTable">
          <input
            placeholder="ค้นหา"
            matInput
            autocomplete="off"
            [(ngModel)]="searchkey"
            (keyup)="applyFilter()"
          />
          <button
            mat-button
            mat-icon-button
            matSuffix
            aria-label="clear"
            *ngIf="searchkey"
            (click)="searchClear()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-icon *ngIf="!searchkey" class="searchIcon" matSuffix
            >search</mat-icon
          >
        </mat-form-field>

        <button mat-icon-button class="filter" [matMenuTriggerFor]="menu" >
          <mat-icon>filter_alt</mat-icon>
        </button>
        <mat-menu  #menu="matMenu">
          <p style="font-family: 'Prompt'; padding: 10px;">ประเภท</p>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" (click)="getNews()">ข่าวทั้งหมด</mat-radio-button>
            <mat-radio-button value="2" (click)="getNormalNews()">ข่าวทั่วไป</mat-radio-button>
            <mat-radio-button value="3" (click)="getSpecialNews()">ประกาศสำคัญ</mat-radio-button>
          </mat-radio-group>
          <!-- <button class="matMenu" mat-menu-item>
          </button> -->
        </mat-menu>

        <button mat-button class="btnMail" (click)="mailTap()">
          <mat-icon>email</mat-icon>
          อีเมล
        </button>
      </div>
    </div>
    <br />

    <div class="board">
      <div class="newsCard">
        <div class="card" *ngFor="let item of newsList">
          <div class="card-body" (click)="editArtical(item)">
            <h5 class="card-subtitle mb-2 text-muted">
              <span class="material-icons">schedule</span>
              {{ item.value.createDT }}
            </h5>
            <h1 class="card-title">{{ item.value.topic }}</h1>
            <p class="card-text" [innerHTML]="item.value.article" >{{ item.value.article }}</p>
            <span
              class="chip-anounced"
              *ngIf="item.value.type == 'ประกาศสำคัญ'"
              >{{ item.value.type }}</span
            >
            <span class="chip-news" *ngIf="item.value.type == 'ข่าวทั่วไป'">{{
              item.value.type
            }}</span>
          </div>
          <div class="Toolbox">
            <button
              mat-icon-button
              color="warning"
              matTooltip="ลบ"
              (click)="delete(item)"
            >
              <span class="material-icons"> delete_outline </span>
            </button>
            <button
              mat-icon-button
              color="warning"
              matTooltip="แก้ไข"
              (click)="editArtical(item)"
            >
              <span class="material-icons"> format_shapes </span>
            </button>
          </div>
        </div>
      </div>
      <div class="toolBtn">
        <div class="prev" (click)="prev()"><mat-icon>chevron_left</mat-icon>ย้อนกลับ</div>
        <div class="next" (click)="next()">ถัดไป<mat-icon>chevron_right</mat-icon></div>
      </div>
    </div>
  </div>
</div>
