.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
.content {
  width: 100%;
  height: auto;
  padding: 2em 0 0 2em;
  font-family: "Prompt";
  z-index: 3;
}
.container h1 {
  font-weight: 600;
  font-family: "Prompt";
}
mat-form-field,
mat-select {
  font-family: "Prompt";
}

.topicMail {
  font-family: "Prompt";
  padding: 25px 0 25px 0;
  font-size: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* border-bottom: 1px solid #e0e0e0; */
}
#mailForm input{
  padding: 15px !important;
  background-color: transparent !important;
}
#textform mat-form-field {
  width: 100%;
}

#textform mat-form-field mat-error , mat-hint{
  margin-top: 7px;
}
#textform :host ::ng-deep .mat-form-field-wrapper{
  width: 100% !important;
  height: 200px !important;
}

form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.form {
  padding-right: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 350px;
  margin-top: 1em;
}

#btnAdd {
  background-color: rgb(254,198,60) !important;
  color: rgb(255,244,230) ;
  margin-right: 10px;
}
#btnAdd:hover{
  background-color: #335CFF !important;
  color: white;
}
.button-container,
.button-container button {
  width: 100%;
  font-family: "Prompt";
}
.menu {
  width: 200px;
}
.mailTap {
  min-width: 350px;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  border: none;
  z-index: 4;
  height: auto !important;
  border-right: 1px solid #e0e0e0;
  margin-left: 5em;
}
@keyframes mailTap {
}
textarea {
  height: 140px;
}
#fileName {
  width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.btnMail {
  border: 2px solid #c4cdf3;
  background: transparent;
  border-radius: 10px;
  font-family: "Prompt";
  min-width: 100px !important;
  width: auto;
  margin-left: 5px;
  margin-right: 15px;
  height: 40px;
  color: #5D6B92;
}
.filter{
  max-width: 50px !important;
  border: 2px solid #c4cdf3;
  background: transparent;
  border-radius: 10px;
  font-family: "Prompt";
  width: 40px;
  margin-left: 1em;
  height: 40px;
  color: #335CFF;

}
.filter:hover , .btnMail:hover {
  background-color: rgb(215,230,255);
}
.uploadBox {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* #fbfbff */
  border: 2px dashed rgba(128, 128, 128, 0.596);
}
.uploadBox p , h5{
  color: gray;
  font-family: 'Prompt';
}

:host ::ng-deep .updating-animation.mat-progress-bar .mat-progress-bar-fill {
  transition: transform 100ms linear;
}
:host ::ng-deep .mat-progress-bar-fill::after {
  background-color: #7392e9 !important;
  background-image: linear-gradient(to right, #77a0ff, #9c92ff) !important;
  border-radius: 20px;
}
:host ::ng-deep .mat-progress-bar {
  border-radius: 20px !important;
}
/*serachtap*/
.searchIcon {
  background-color: #335cff;
  width: 35px;
  height: 35px;
  padding: 3px;
  border-radius: 10px;
  color: white;
  border: 3px solid #aec7ff;
  cursor: pointer;
}
.searchKey {
  width: 100%;
  margin-left: 1em;
  border: none;
  box-shadow: 0px 10px 20px #eceef3;
  padding-bottom: 0 !important;
  font-family: "Prompt";
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchKey input{
  margin-top: 15px;
}

.searchTap{
  width: 100%;
  display: flex;
  flex-direction: row;
}
select{
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Prompt';
  border: none;
}
#select img{
  padding: 5px;
  margin-left: 5px;
}
#select{
  height: 40px;
  border-radius: 10px;
  margin-left: 1em;
  border: 2px solid rgb(196,205,243);
  width: 125px;
  display: flex;
  align-items: center;
}
:host ::ng-deep .mat-form-field-wrapper{
   width: 100%;
}


:host ::ng-deep .mat-form-field{
  border-radius: 15px !important;
}

.progressLoad {
  display: flex;
  width: 70%;
  padding: 0 10px 0 10px;
  flex-direction: column;
}
.itemfile {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #abbce9;
  padding-bottom: 1px;
}
.icon {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: pulse;
  animation-duration: 5s;
}
.uploaded {
  font-weight: 600;
  width: 300px;
  padding-top: 15px;
  font-size: 12px;
  color: black;
}
.uploadedBox {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 12px;
  color: black;
  display: flex;
  animation-name: fadeInDown;
  animation-duration: 5s;
}
 .uploadedBox:hover {
  background-color: white;
  box-shadow: 0px 8px 15px#7393ec2d;
  border-radius: 8px;
}
.chooseFile{
  background-color: #EEF1FD;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: rgb(51,93,255);
  font-weight: 500;
  font-family: 'Prompt';
  cursor: pointer;
}
/* .chooseFile:hover{
  background-color: rgba(235, 235, 238, 0.993);
} */
/* card */
.card {
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-top: 20px;
  width: 250px;
  height: 350px;
  background-color: white;
  box-shadow: 5px 5px 10px #eaebf2;
  font-family: "Prompt";
  display: flex;
  flex-direction: column;
}
.card-body {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  height: 100%;
  padding-bottom: 10px;
  cursor: pointer;
}
.card-title {
  font-weight: bold;
  font-family: "Prompt";
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-subtitle {
  font-family: "Prompt";
  display: flex;
  align-items: center;
  color: #8694ba;
}
.card-subtitle span {
  font-size: 20px;
  padding-right: 5px;
}
.newsCard {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding-top: 50px;
  padding-left: 20px;
  background-color: rgb(247, 248, 252);
  border-top-left-radius: 3em;
}
.file {
  display: none;
}
.fileUpload {
  display: flex;
}
.board {
  width: 100%;
  min-height: 600px;
  background-color: rgb(247, 248, 252);
  border-top-left-radius: 3em;
  padding-bottom: 8rem;
}
.Toolbox {
  padding: 5px;
  justify-self: end;
  border-top: 1px solid rgb(235, 241, 253);
  display: flex;
  justify-content: flex-end;
  color: #8492b9;
}
.Toolbox button {
  font-size: 10px;
}
#matoption {
  font-family: "Prompt";
}
.chip-anounced,
.chip-news {
  background-color: #d9e7ff;
  padding: 1px 7px 1px 7px;
  border-radius: 15px;
  font-weight: 500;
}
.chip-news {
  background-color: #d9e7ff;
  color: #3660ff;
}
.chip-anounced {
  background-color: #fff0f3;
  color: #ff89a5;
}
.headTap {
  width: auto;
  display: flex;
  align-items: center;
  padding-top: 4em;
}
.headTap span {
  padding: 0 20px 0 20px;
  font-size: 20px;
  border-right: 2px solid #e7eaf8;
}
.addNewsTask {
  width: 230px;
  background-color: transparent;
  padding-left: 20px;
}
.btnNews {
  width: 200px;
  display: flex;
  padding: 6px;
  color: #335dff;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  background-image: url(/assets/Asset7.png);
  background-position: center;
  background-size: cover;
}
.btnNews span {
  border: none;
  color: white;
  padding: 2px;
  background-color: #335dff;
  border-radius: 10px;
  border: 3px solid #aec7ff;
}
.btnNews b {
  margin-left: 10px;
}

.toolBtn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.prev,.next{
  font-family: 'Prompt';
  color: rgb(51,92,255);
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.prev  mat-icon{
  margin-right: 5px;
}
.next mat-icon{
  margin-left: 5px;
}
.matMenu {
  font-family: 'Prompt';
}
mat-radio-button{
  font-family: 'Prompt' !important;
  padding: 5px;
}
mat-radio-group{
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 150px;
  padding: 5px;
}

