<div class="container">
  <div id="chat">
    <button mat-fab color="primary" aria-label="Example icon button with a heart icon">
      <img src="./assets/chat-bubble.png" width="30">
    </button>
  </div>
</div>

