*{
  background-color: transparent;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  /* z-index: ; */
}
#chat{
  padding: 3em;
  cursor: pointer;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
}
