@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*{
  width: 600px;
  overflow: hidden;
}
.HeadTopic{
  display: flex;
  justify-content: space-between;
}
.HeadTopic span{
  justify-self: end;
  width: 20px;
  cursor: pointer;
}
mat-form-field , mat-option , button , mat-select ,mat-option{
  font-family: 'Prompt';
}
button{
  background-color: #335Dff;
  color: white;
}
.HeadTopic h1{
  font-family: 'Prompt';
}
form{
  font-family: 'Prompt';
}
