<div class="HeadTopic">
  <h1>เพิ่มโรงพยาบาล</h1>
  <span class="material-icons" mat-dialog-close>
    close
  </span>
</div>
 <form [formGroup]="form" class="example-form">
  <mat-form-field class="example-full-width" appearance="legacy">
    <mat-label>ชื่อโรงพยาบาล</mat-label>
    <input type="text" matInput formControlName="hospitalName" />
    <mat-error>กรุณาใส่ข้อความ</mat-error>
  </mat-form-field>
  <br />
  <mat-form-field appearance="legacy">
    <mat-label>จังหวัด</mat-label>
    <mat-select formControlName="province">
      <mat-option [value]="item" *ngFor="let item of province">{{
        item
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="legacy">
    <mat-label>เบอร์โทรศัพท์</mat-label>
    <input type="tel" matInput formControlName="phone" />
    <mat-error>กรุณาเติมตัวเลข</mat-error>
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="legacy">
    <mat-label>ละติจูด</mat-label>
    <input type="number" matInput formControlName="latitude" />
    <mat-error>กรุณาเติมตัวเลข</mat-error>
  </mat-form-field>

  <br />
  <mat-form-field class="example-full-width" appearance="legacy">
    <mat-label>ลองจิจูด</mat-label>
    <input type="number" matInput formControlName="longitude" />
    <mat-error>กรุณาเติมตัวเลข</mat-error>
  </mat-form-field>

  <div class="button-container">
    <br />
    <button
      id="btnAdd"
      type="button"
      mat-flat-button
      (click)="submitLocation()"
    >
      เพิ่ม
    </button>
  </div>
</form>
