*{
  /* background: #f9f8f9 !important; */
  /* height: 100%; */
}
#closeicon{
  margin-left: 98%;
}
form{
  display: flex;
  /* padding-left: 5%; */
  width: 30%;
  padding: 0;
  flex-direction: column;
  /* margin-left: 5em; */
}
form h2{
  font-family: 'Prompt';
}
.container{
  /* padding: 10%; */
  display: flex;
  width: auto;
  min-width: 1000px;
  height: 550px;
  justify-content: center;
  align-items: center;
  font-family: 'Prompt';
  overflow-y: hidden;
}
mat-icon{
  /* margin-left: 97%; */
  cursor: pointer;
}
mat-form-field{
width: 100%;
font-family: 'Prompt';
}
button{
  background-color: #3D65FE;
  color: white !important;
  box-shadow: 0px 5px 10px #3d64fe4d;
  font-family: 'Prompt';
  margin-top: 1em;
}
