<mat-icon mat-dialog-close id="closeicon">close</mat-icon>
<div class="container">
    <div class="img">
      <img src="./assets/2894058.jpg" width="600">
    </div>
  <form [formGroup]="form">
    <h2>ลงชื่อเข้าใช้</h2>
    <mat-form-field appearance="standard" >
      <mat-label>email</mat-label>
      <input matInput type="text" formControlName="email" />
      <mat-icon matPrefix>email</mat-icon>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>password</mat-label>
      <input matInput [type]="type" #pass formControlName="password" />
      <mat-error>กรุณาใส่รหัสผ่าน</mat-error>
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon matSuffix (click)="showPass()" *ngIf="icon=='visibility' && pass.value ">{{icon}}</mat-icon>
      <mat-icon matSuffix (click)="closePass()"  *ngIf="icon=='visibility_off'" >{{icon}}</mat-icon>
    </mat-form-field>
    <button mat-button color="primary" (click)="login()">ล็อกอิน</button>
  </form>

</div>
