<div class="blogEdit" *ngIf="alertStatus">
  <span class="pic">
    <p>แก้ไขข้อมูลส่วนตัว</p>
    <h6>กรอกข้อมูลอย่างถูกต้องและครบถ้วนก่อนกดส่ง</h6>
    <img src="./assets/3593987.jpg" width="240px" />
  </span>
  <form [formGroup]="form">
    <mat-form-field appearance="legacy">
      <mat-label>ชื่อ</mat-label>
      <input matInput type="text" formControlName="firstname" />
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>นามสกุล</mat-label>
      <input matInput type="text" formControlName="lastname" />
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>ชื่อเล่น</mat-label>
      <input matInput type="text" formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>เพศ</mat-label>
      <input matInput type="text" formControlName="gender" />
    </mat-form-field>
  </form>
  <div class="btn">
    <button mat-button mat-dialog-close>ยกเลิก</button>
    <button mat-button (click)="update()">บันทึก</button>
  </div>
</div>
<div class="boxConfirm" *ngIf="alertStatus == false">
  <img src="./assets/1x/checklist.png" width="100" />
  <p>ทำการแก้ไขข้อมูลส่วนตัวแล้ว</p>
</div>
