.container {
  width: 100%;
  height: auto;
  display: flex;
  font-family: 'Prompt';
  overflow-x: hidden;
}
.content{
  width: 100%;
  padding: 2em 0 0 3.8em;
  font-family: 'Prompt';
  line-height: 1.7;
}

.inside{
  padding-top: 4em;
}
.article{
  width: 90%;
}
button{
 width: 100px;
 margin-right: 5px;
 cursor: pointer;
}
.menu{
  width: 200px;
}
.topic{
  font-family: 'Prompt';
  font-size: 30px;
  font-weight: 600;
}
.btn{
  font-family: 'Prompt';
  /* padding: 5px; */
  border-radius: 10px;

}
.btn2{
  background-color: #335DFF;
  color: white;border: 3px solid rgb(174,199,255) ;
}


.btnbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
