<div class="container">
  <div class="menu">
    <app-navbar></app-navbar>
    <app-navhornz></app-navhornz>
  </div>
  <div class="content">
    <h1 class="topic">ข่าวสารและอีเมล</h1>
    <div class="inside">
      <div class="btnbar">
        <h1 style="font-family: 'Prompt'">{{ topic.topic }}</h1>
        <div>
           <button class="btn btn2" mat-flat-button (click)="edit(topic)">
          แก้ไข
        </button>
        <button
          class="btn"
          mat-stroked-button
          color="basic"
          [routerLink]="['/setting/newsUpdate']"
          routerLinkActive="router-link-active">
          กลับ
        </button>
        </div>

      </div>
      <br />
      {{ topic.date }}<br />
      <div class="article" [innerHTML]="topic.article">
        {{ topic.article }}<br /><br />
      </div>

      &nbsp;
    </div>
  </div>
</div>
