.container {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  background-color: white;
  min-height: 100%;
}
/*content ใช้เหมือนกันทุกอัน*/
.content {
  width: 100%;
  height: 100%;
  padding: 2em 0 0 3em;
  z-index: 4;
}
.contentTap{
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin-top: 2em;
  border-top-left-radius: 40px;
  background-color: rgb(247,248,252);
  padding: 2em 0em 0em 2em;
}
/*หัวข้อ*/
.head {
  width: 95%;
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  margin-top: 4em;
  justify-content: space-between;
}
.headTopic h1 {
  font-size: 25px;
  font-family: "Prompt" !important;
  font-weight: 600;
}
.headTopic h2 {
  font-size: 23px;
  font-family: "Prompt" !important;
  font-weight: 300;
}

.headTopic p {
  padding: 0;
  font-family: "Poppins";
  color: gray;
  position: absolute;
  margin-top: -10px; /*ปรับให้ข้อความบรรทัดชิดมากขึ้น*/
}
.material-icons {
  cursor: pointer;
}
mat-table {
  width: 100%;
  box-shadow: 0px 10px 10px rgba(156, 156, 156, 0.151);
  border-bottom: none !important;
  background-color: transparent !important;
  border-collapse: collapse;
  font-family: "Prompt" !important;
  font-size: 18px;

}
mat-paginator {
  background-color: #ffffff !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  box-shadow: 0px 10px 10px rgba(156, 156, 156, 0.151);


}
mat-header-cell:first-of-type,
mat-cell:first-of-type {
  max-width: 150px !important;
}
mat-header-cell:last-of-type,
mat-cell:last-of-type {
  /* max-width: 70px !important; */
  width: 100px !important;
}
mat-row {
  padding: 2px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2) !important;
  background-color: white;
}
.mat-header-cell {
  color: #5d6b92 !important;
}
.matMenu {
  font-family: "Prompt";
}
mat-row:last-child {
  z-index: -1px;
  border-bottom: none;
}
mat-row:first-of-type {
  border-bottom: none;
  /* padding-top: 15px; */
}

mat-header-row {
  background-color: white;
  border-bottom: none;
  min-height: 60px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2) !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;

}

.tableAdmin {
  background-color: transparent;
  width: 97.5%;
  padding-top: 5rem;
}

.menu {
  width: 200px;
}
.boxAdmin {
  width: 250px;
  height: 210px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(238, 240, 251);
  border-radius: 10px;
  flex-grow: 1;
}
.boxAdmin div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boxAdmin button {
  display: flex;
  margin-left: 6.5rem;
  align-self: start;
  justify-content: center;
  position: absolute;
  color: #838998;
}
.addAdmin {
  width: 250px;
  height: 210px;
  background-color: #f7f8fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #bdc6d9;
  border-radius: 10px;
  color: #838998;
}
.boxAdmin,
.addAdmin {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-family: "Prompt";
  cursor: pointer;
}
.boxAdmin:hover,
.addAdmin:hover {
  background-color: #f7f8fc;
}
.boxAdmin:active {
  border: 2px solid #335Dff;
}
.boxParade {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
  max-width: 100%;
  justify-content: center;
}
#paginatorTap {
  opacity: 0;
}
#btnStatus span {
  color: #7d7e7e;
  font-size: 20px;
}
#btnStatus:active,
#btnStatus:focus,
#btnStatus:hover {
  border: 1px solid #23c38e;
  color: #23c38e !important;
  background-color: transparent !important;
}

#btnStatus span:hover,
#btnStatus span:focus {
  color: #23c38e;
}

#btnStatus {
  background-color: white;
  border: 1px solid #7d7e7daf;
  min-width: 30px;
  max-height: 30px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: none;
}

.btnTable {
  display: flex;
  border: 2px solid #D7E6FF;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 30px;
}
.btnTable button{
  /* color: #335Dff; */
  font-family: 'Prompt';
  color: #D7E6FF;
}
#tableBtn{
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
#listBtn{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
#btnText1 , #btnText2{
  display: none;
}
#unavailable,
#available {
  font-weight: 600;
  font-family: "Prompt";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.stsTap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#available .disableDT {
  color: gray;
  font-size: 10px;
  font-weight: 300;
}
#unavailable .disableDT {
  color: gray;
  font-size: 10px;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#available img,
#unavailable img {
  padding-right: 5px;
}
#available,
#availableBox {
  color: #23c38e;
}
#unavailable,
#unavailableBox {
  color: #ff5b57;
}
.flexforbox {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*searchTap*/

.searchIcon {
  background-color: #335cff;
  width: 35px;
  height: 35px;
  padding: 3px;
  border-radius: 10px;
  color: white;
  border: 3px solid #aec7ff;
  cursor: pointer;
}

.searchKey {
  width: 100%;
  margin-top: 2em;
  box-shadow: 0px 10px 20px #eceef3;
  margin-left: 1em;
  border: none;
  padding-bottom: 0 !important;
  font-family: "Prompt";
  height: 50px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
/* .searchKey input{
  margin-top: 15px;
} */
.searchTap{
  width: 100%;
}
:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
    width: 100%;
}
:host ::ng-deep .mat-form-field{
  border-radius: 15px !important;
  background-color: white;
}

:host ::ng-deep .mat-form-field-infix{
  /* width: 90% !important; */
}

.toolBtn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.prev,.next{
  font-family: 'Prompt';
  color: rgb(51,92,255);
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.prev  mat-icon{
  margin-right: 5px;
}
.next mat-icon{
  margin-left: 5px;
}
