<div class="container">
  <div class="menu">
    <app-navbar></app-navbar>
    <app-navhornz></app-navhornz>
  </div>
  <div class="content">
    <div class="headTopic">
      <h1>บัญชีผู้ดูแลระบบ</h1>
    </div>
    <div class="head">
      <!---------------------search  tab------------------------->
      <mat-form-field
        class="searchKey"
        id="searchTable"
        *ngIf="statusSearchTable"
      >
        <input
          placeholder="ค้นหา"
          matInput
          autocomplete="off"
          [(ngModel)]="searchKey"
          (keyup)="applyFilter()"
        />
        <button
          mat-button
          mat-icon-button
          matSuffix
          aria-label="clear"
          *ngIf="searchKey"
          (click)="searchClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon *ngIf="!searchKey" class="searchIcon" matSuffix
          >search</mat-icon
        >
      </mat-form-field>
      <mat-form-field class="searchKey" id="searchBox" *ngIf="statusSearchBox">
        <input
          placeholder="ค้นหา"
          matInput
          autocomplete="off"
          [(ngModel)]="searchBox"
          (keyup)="applyFilterBox()"
        />
        <button
          mat-button
          mat-icon-button
          matSuffix
          aria-label="clear"
          *ngIf="searchBox"
          (click)="searchClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon *ngIf="!searchBox" class="searchIcon" matSuffix
          >search</mat-icon
        >
      </mat-form-field>

      <div class="btnTable">
        <button
          mat-button
          color="primary"
          (mouseover)="btn($event)"
          (mouseout)="btnleave($event)"
          (click)="tableForm()"
          id="tableBtn"
        >
          <mat-icon id="btnIcon1">dashboard</mat-icon>
          <span id="btnText1">กล่อง</span>
        </button>
        <button
          mat-button
          color="primary"
          (mouseover)="btn2($event)"
          (mouseout)="btnleave2($event)"
          (click)="listForm()"
          id="listBtn"
        >
          <mat-icon id="btnIcon2">format_list_bulleted</mat-icon>
          <span id="btnText2">ตาราง</span>
        </button>
      </div>
    </div>
    <div class="contentTap">
      <!---------------------Box DATA------------------------->

      <div class="flexforbox">
        <div class="boxParade" *ngIf="toggleTable == false">
          <div class="boxAdmin" *ngFor="let item of adminBox">
            <div>
              <img src="./assets/user007.png" width="50px" />
              <span>{{ item.value.firstname }}</span>
              <span>{{ item.value.email }}</span>
              <span *ngIf="item.value.status == true" id="availableBox">
                <span class="stsTap">
                  <img src="./assets/Asset 2.png" width="20px" />
                  {{ "ใช้งาน" }}
                </span>
              </span>
              <span *ngIf="item.value.status == false" id="unavailableBox">
                <span class="stsTap">
                  <img src="./assets/Asset 1.png" width="20px" />
                  {{ "หยุดใช้งาน" }}
                </span>
              </span>
            </div>
            <button mat-icon-button id="moreHoriz" [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                class="matMenu"
                mat-menu-item
                (click)="resetPassword(item)"
              >
                <mat-icon>edit</mat-icon>
                <span>แก้ไขรหัสผ่าน </span>
              </button>
              <button class="matMenu" mat-menu-item (click)="deleted(item)">
                <mat-icon>delete_outline</mat-icon>
                <span>ลบข้อมูลผู้ใช้ </span>
              </button>
              <button
                class="matMenu"
                mat-menu-item
                *ngIf="item.value.status == true"
                (click)="changeStatus('close', item)"
              >
                <mat-icon>power_settings_new</mat-icon>
                <span>ปิดการใช้งาน </span>
              </button>
              <button
                class="matMenu"
                mat-menu-item
                *ngIf="item.value.status == false"
                (click)="changeStatus('open', item)"
              >
                <mat-icon>power_settings_new</mat-icon>
                <span>เปิดการใช้งาน </span>
              </button>
            </mat-menu>
          </div>

          <div
            class="addAdmin"
            [routerLink]="['/registor']"
            routerLinkActive="router-link-active"
          >
            <img src="./assets/add-user.png" width="70px" />
            <p>เพิ่มผู้ดูแลระบบ</p>
          </div>
        </div>
      </div>
      <!-- <div class="toolBtn" *ngIf="toggleTable == false">
        <div class="prev"  (click)="prev()" ><mat-icon>chevron_left</mat-icon>ย้อนกลับ</div>
        <div class="next"  (click)="next()">ถัดไป<mat-icon>chevron_right</mat-icon></div>
      </div> -->

      <!---------------------TABLE DATA------------------------->
      <div class="tableAdmin">
        <mat-table
          [dataSource]="adminlist"
          class="mat-elevation-z8"
          *ngIf="toggleTable"
        >
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef=""> ลำดับ </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              <p>{{ i + pageIndex }}</p>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value.email }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>
              สถานะการใช้งาน
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.value.status == true" id="available">
                <span class="stsTap">
                  <img src="./assets/Asset 2.png" width="20px" />
                  {{ "ใช้งาน" }}
                </span>
                <span class="disableDT">{{ element.value.disableDT }}</span>
              </span>
              <span *ngIf="element.value.status == false" id="unavailable">
                <span class="stsTap">
                  <img src="./assets/Asset 1.png" width="20px" />
                  {{ "หยุดใช้งาน" }}
                </span>
                <span class="disableDT">{{ element.value.disableDT }}</span>
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="enable">
            <mat-header-cell *matHeaderCellDef>
              ตั้งค่าการใช้งาน
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-raised-button id="btnStatus">
                <span
                  (click)="changeStatus('close', element)"
                  class="material-icons"
                >
                  lock
                </span>
              </button>
              &nbsp;
              <button mat-raised-button id="btnStatus">
                <span
                  mat-raised-button
                  class="material-icons"
                  (click)="changeStatus('open', element)"
                  #7d7e7e
                >
                  lock_open
                </span>
              </button>
              &nbsp;
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> เครื่องมือ </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button id="moreHoriz" [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  class="matMenu"
                  mat-menu-item
                  (click)="resetPassword(element)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>แก้ไขรหัสผ่าน </span>
                </button>
                <button
                  class="matMenu"
                  mat-menu-item
                  (click)="deleted(element)"
                >
                  <mat-icon>delete_outline</mat-icon>
                  <span>ลบข้อมูลผู้ใช้ </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          [length]="totalTable"
          [pageSize]="5"
          [pageSizeOptions]="pageSize"
          (page)="showPage($event)"
          id="paginatorTap"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
