@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.container{
  overflow-x: hidden;
}
mat-form-field{
  width: 100%;
  padding-bottom: 20px ;
  font-family: 'Prompt';
}
h1, mat-select , mat-option{
  font-family: 'Prompt';
}
form{
  padding-bottom: 30px;
}
.topic{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.button-container {
  display: flex;
  justify-content: end;
  overflow: hidden;
  width: fit-content;
  font-family: 'Prompt';
  width: 100%;
}
button{
  width: 100%;
}

.material-icons{
  cursor: pointer;
}
#btnAdd {
  background-color: #335DFF !important;
  color: white;
}

.navbar {
  width: 5rem;
  height: 100vh;
  background-color: rgb(37, 37, 37);
  position: fixed;
  z-index: 1;
}
.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 60%;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: rgb(168, 166, 166);
  text-decoration: none;
  font-weight: 500;

}
.link-text {
  display: none;
  margin:  0 1.5rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0.5rem;
}
.navbar:hover {
  width: 16rem;
}
.navbar:hover  .link-text {
 display: block;
}
.nav-link:hover .link-text{
  background: -webkit-linear-gradient( rgb(200, 140, 250), rgb(145, 217, 250));
  -webkit-background-clip: text  ;
  -webkit-text-fill-color: transparent;
}

.logo{
  text-align: center;
  color: gray;
  background-color: rgb(19, 19, 19);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  width: 100%;
}
.logo svg {
  margin-left: 1.5rem;
  transform: rotate(0deg);
  transition: 1s;

}
.logo .link-text {
  margin-left: 2rem;
  position: relative;

}
.navbar:hover .logo svg {
  transform:  rotate(-180deg);
  color: gray;
  margin-left: -3px;
}
.navbar:hover .logo a {
  color: rgb(255, 255, 255);
}

.nav-item:hover svg {
  color: rgb(200, 140, 250);

}

/*small screen*/
@media only screen and (max-width:600px) {
    .navbar {
      width: 100%;
      bottom: 0;
      height: 5rem;
    }
    .logo {
      display: none;
    }
    .navbar-nav{
      flex-direction: row;
    }
    .nav-link{
      justify-content: center;
    }
    .navbar:hover  .link-text {
      display: none;
     }
     .navbar:hover {
      width:100%;
    }


}
