
<div class="container">

<div class="topic">
  <h1>แก้ไขข้อมูล</h1>
  <span class="material-icons" mat-dialog-close>
    close
  </span>
</div>
<br>

<form [formGroup]="form" class="example-form">
  <mat-form-field class="example-full-width "  mat appearance="legacy" >
    <mat-label>ชื่อโรงพยาบาล</mat-label>
    <input type="text" matInput formControlName="hospitalName"  >
    <mat-error>please fill in massage</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>จังหวัด</mat-label>
    <mat-select formControlName="province">
      <mat-option [value]="item" *ngFor="let item of province">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="legacy">
    <mat-label>เบอร์โทรศัพท์</mat-label>
    <input type="tel" matInput formControlName="phone" >
    <mat-error>please fill in number</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="legacy">
    <mat-label>latitude</mat-label>
    <input type="text" matInput formControlName="latitude" >
    <mat-error>please fill in number</mat-error>
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width"   appearance="legacy">
    <mat-label>longitude</mat-label>
    <input type="text" matInput formControlName="longitude" >
    <mat-error>please fill in number</mat-error>
  </mat-form-field>

  <div class="button-container">
    <button  type="button"  mat-stroked-button  color="basic" (click)="cancelUpdate()">Cancel</button>
    &nbsp;
    <button  id="btnAdd" type="button" mat-flat-button color="primary" (click)="update()">Update</button>
  </div>

</form>
</div>
