.container{
  display: flex;
  padding: 7%;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
}
mat-tab-group{
  width: 80%;
}
mat-tap{
  padding: 20px;
}
.agent{
  padding: 20px;
  width: 100%;
}

mat-form-field{
  width: 80%;
  padding-right: 10px;
}

form{
  justify-content: space-between;
  display: flex;

}
#edit{
  width: 3200px;
}
.formEditIntent{
  display: flex;
}
