@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
h1{
    font-family: 'Prompt';
}
.container{
  width: 1000px;
  height: 600px;
}
mat-form-field{
  width: 100%;
  font-family: 'Prompt';
}
textarea{
  height: 200px;
}
.button-container{
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  margin-bottom: 1em;

}
button{
  width: 100%;
  font-family: 'Prompt';
}
#btnAdd{
  background-color: #335dff;
  color: white;
}
