<!-- Main Quill library -->
<!-- <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script> -->

<!-- Theme included stylesheets -->
<!-- <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet"> -->

<!-- Core build with no theme, formatting, non-essential modules -->
<!-- <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
<script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script> -->

<div class="container">
  <h1>แก้ไขเนื้อหา</h1>
  <form [formGroup]="form" class="example-form">
    <mat-form-field class="example-full-width" mat appearance="legacy">
      <mat-label>หัวข้อ</mat-label>
      <input type="text" matInput formControlName="topic" />
      <mat-error>กรุณาใส่หัวข้อ</mat-error>
    </mat-form-field>
    <br />
    <quill-editor
      [style]="textToolStyle"
      [modules]="toolconfig"
      (onContentChanged)="maxlenght($event)"
      formControlName="article"
    >
    </quill-editor>
    <!-- <mat-form-field class="example-full-width" appearance="legacy">
      <mat-label>ข้อความ</mat-label>
      <textarea type="text" matInput formControlName="article" ></textarea>
      <mat-error>กรุณาใส่ข้อความ</mat-error>
    </mat-form-field>
    <br> -->
  </form>
  <div align="end" *ngIf="article">{{ article + "/" + "1000" }}</div>
  <div class="button-container">
    <button
      id="btnClose"
      type="button"
      mat-stroked-button
      color="basic"
      mat-dialog-close
    >
      ยกเลิก
    </button>
    &nbsp;
    <button id="btnAdd" type="button" mat-flat-button (click)="update()">
      บันทึก
    </button>
  </div>
</div>
