*,h1{
  font-family: 'Prompt';
  /* height: 100%; */
}
form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
}

input, select{
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.486);
  border-radius: 5px;
}
option{
  padding: 5px !important;
  height: 30px;
}
.container{
  padding: 4em;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

mat-tab-group{
  min-width: 100%;
  font-family: 'Prompt' !important;
}
.registorZone{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
}
img{
  width: auto;
  height: 700px;
  /* padding: 5px; */
  margin-left: 10%;
  /* position: absolute; */
}
.detail .profile{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-horizontal-stepper {
  height: 100%;
}
#back{
  width: 170px;
  background-color:  #3D65FE;
  box-shadow: 5px 5px 10px #3d64fe33;
}
.top{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#adduser , button{
  width: 100%;
  color: white !important;
  background-color: #FDCE5B ;
}
mat-form-field{
  margin-left: 5px;
  padding: 0 !important;
}
.doctorForm{
  margin-top: -2em;
}
