<div class="container">
  <!-- <img src="./assets/3189802.jpg" width="500" /> -->
  <div class="registorZone">
    <div class="top">
      <h1>สร้างบัญชีผู้ใช้</h1>
      <button
        id="back"
        mat-raised-button
        color="primary"
        [routerLink]="['/setting/home']"
      >
        กลับ
      </button>
    </div>
    <mat-tab-group>
      <mat-tab label="ผู้ดูแลระบบ/แพทย์">
        <form [formGroup]="form">
          <mat-form-field>
            <mat-label>ชื่อ</mat-label>
            <input matInput type="text" formControlName="firstname" />
          </mat-form-field>
          <mat-form-field class="doctorForm">
            <mat-label>นามสกุล</mat-label>
            <input matInput type="text" formControlName="lastname" />
          </mat-form-field>
          <mat-form-field class="doctorForm">
            <mat-label>username</mat-label>
            <input matInput type="text" formControlName="username" />
          </mat-form-field>
          <mat-form-field class="doctorForm">
            <mat-label>อีเมล</mat-label>
            <input matInput type="text" formControlName="email" />
          </mat-form-field>
          <mat-form-field class="doctorForm">
            <mat-label>รหัสผ่าน</mat-label>
            <input matInput type="text" formControlName="password" />
          </mat-form-field>
          <mat-form-field appearance="legacy" class="doctorForm">
            <mat-label >สถานะ</mat-label>
            <mat-select formControlName="role">
              <mat-option [value]="item" *ngFor="let item of status">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <button mat-button color="primary" (click)="Register()">เพิ่ม</button>
        </form>
      </mat-tab>
      <mat-tab label="ผู้ใช้ทั่วไป">
        <form [formGroup]="userform">
          <mat-horizontal-stepper linear #stepper>
            <mat-step>
              <ng-template matStepLabel>ข้อมูลสำหรับล็อกอิน</ng-template>
              <div class="profile">
                <mat-form-field>
                  <mat-label>อีเมล</mat-label>
                  <input matInput type="email" formControlName="email" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>รหัสผ่าน</mat-label>
                  <input matInput type="password" formControlName="password" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>username</mat-label>
                  <input matInput type="text" formControlName="user" />
                </mat-form-field>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>ข้อมูลส่วนตัว</ng-template>
              <div class="profile">
                <mat-form-field>
                  <mat-label>ชื่อ</mat-label>
                  <input matInput type="text" formControlName="firstname" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>นามสกุล</mat-label>
                  <input matInput type="text" formControlName="lastname" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>อายุ</mat-label>
                  <input matInput type="text" formControlName="age" />
                </mat-form-field>
              </div>
              <div class="profile">
                <mat-form-field appearance="legacy">
                <mat-label>เพศ</mat-label>
                <mat-select formControlName="gender">
                  <mat-option [value]="item" *ngFor="let item of genders">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>อาชีพ</mat-label>
                <mat-select formControlName="career">
                  <mat-option [value]="item" *ngFor="let item of careers">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>การศึกษา</mat-label>
                <mat-select formControlName="education">
                  <mat-option [value]="item" *ngFor="let item of edu">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>สถานภาพสมรส</mat-label>
                <mat-select formControlName="maritialStatus">
                  <mat-option [value]="item" *ngFor="let item of statusMat">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>



              <button
                id="adduser"
                mat-button
                color="primary"
                (click)="adduser()"
              >
                เพิ่ม
              </button>
            </mat-step>
          </mat-horizontal-stepper>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
