<!-- <app-chat></app-chat> -->
<div class="container">
  <div class="menu">
    <app-menubar-doctor></app-menubar-doctor>
  </div>
  <div class="page">
    <h2>ข้อมูลทำแบบทดสอบ</h2>
    <div class="search">
      <mat-form-field>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input
            class="daterange"
            formControlName="start"
            matStartDate
            placeholder="Start date"
          />
          <input
            class="daterange"
            formControlName="end"
            matEndDate
            placeholder="End date"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button mat-raised-button (click)="search()">
        ค้นหา
      </button>
    </div>
    <div class="Testtable">
      <span id="Loadinglogo" *ngIf="!data">
        <img src="../assets/search.png" />
        <h4>No Data</h4>
      </span>

      <table
        *ngIf="data"
        mat-table
        [dataSource]="data"
        class="mat-elevation-z8"
      >
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="testName">
          <th mat-header-cell *matHeaderCellDef>ชื่อแบบทดสอบ</th>
          <td
            mat-cell
            *matCellDef="let element"
            (click)="chooseExam(element.testName)"
          >
            {{ element.testName }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="currentDate">
          <th mat-header-cell *matHeaderCellDef>วันเวลาล่าสุด</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.currentDate">{{ element.currentDate }}</span>
            <span *ngIf="element.currentDate==0">{{ "-"}}</span>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="amout">
          <th mat-header-cell *matHeaderCellDef>จำนวน</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.amout">{{ element.amout }}</span>
            <span *ngIf="!element.amout">{{"-"}}</span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="averageScore">
          <th mat-header-cell *matHeaderCellDef>คะแนนเฉลี่ย</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.averageScore ">{{ element.averageScore.toFixed(1) }}</span>
            <span *ngIf="!element.averageScore">{{ "-"}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="averageResult">
          <th mat-header-cell *matHeaderCellDef>ผลเฉลี่ย</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.averageResult">{{ element.averageResult }}</span>
            <span *ngIf="!element.averageResult">{{"-"}}</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <!-- <div class="calendar">

  </div> -->
</div>
