.page {
  padding:  5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: #F5F6FA;
}
.page h2{
  font-family: 'Prompt';
}
.search{
  width: 100%;
  display: flex;
}
mat-form-field{
  width: 90%;
  /* border: 2px solid salmon; */
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 10px 10px #ECEEF3;
}
button{
  font-family:'Prompt' ;
  width: 100px;
  color: white;
  background-color: #FF5C58;
  box-shadow: none;
}
:host ::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
  padding-top: 0;
  height: 35px;
  /* background-color: white; */
}
:host ::ng-deep .mat-form-field-infix{
  padding-top: 0px;
}
.daterange{
  width: auto;
}
input {
   width: 70%;
}
.Testtable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
table{
  margin-top: -5em;
  z-index: 10;
   box-shadow: none !important;
}

.Loadinglogo{
  margin-top: 10em;
}
.Testtable h4{
  margin-left: 2.3rem;
  color: rgb(161, 161, 161);
}
table {
  width: 100%;
  font-family: 'Prompt';
}

button{
  margin-left: 20px;
}
.container{
  display: flex;
  width: 100%;
  height: 100%;
}
.menu{
  padding-right: 20px;
  z-index: 10;
  width: 90px;
  height: 100%;
}
.row:hover{
  background-color: rgba(220, 220, 220, 0.568);
  /* box-shadow: 5px 5px 10px gray; */
  cursor: pointer;
}
.calendar{
  background-color: white;
  width: 400px;
}
