.container {
  width: 100%;
  height: auto;
  display: flex;
}
.menu {
  width: 250px;
}
.profile {
  width: 450px;
  background-color: #f7f8fc;
  margin-left: auto;
  min-height: 100vh;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
}
.head {
  width: 100%;
}
.head h1 {
  font-weight: 600;
  font-size: medium;
  font-family: "Prompt";
}
.head h1 {
  text-align: left;
  padding: 0%;
}
.head p {
  font-weight: 300;
  font-family: "Prompt";
  font-size: 25px;
}
.mat-elevation-z8 {
  width: 100%;
  font-family: "Prompt";
  box-shadow: none;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding-top: 15px;
}
.mat-elevation-z8 h3 {
  font-family: "Prompt" !important;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0 0 10px;
}
table {
  width: 100% !important;
  border: none !important;

}
th {
  background-color: rgb(247,248,252);
  border-bottom: none !important;
  max-height: 20px !important;
  color: #5D6B92;
}
td {
  border: none !important;
  height: 30px;
  text-align: center;

}
th:first-of-type{
  padding-left: 10px;
}
th:last-of-type{
  padding-left: 10px;
}
.row2,
.row1 {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}
.boxfirst {
  height: 100%;
  width: 220px;
  border-radius: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Prompt";
  border: 1px solid #e0e0e0;
}
.boxStat1 {
  max-height: 300px;
  width: 250px;
  border-radius: 20px;
  /* background-color: aquamarine; */
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
}
.bs1,
.bs2 {
  width: 120px;
  height: 100%;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}
.bs1 {
  margin-bottom: 20px;
}
.boxStat2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
#lineStat {
  width: 100%;
  height: 250;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
}
.row1 .statBox {
  display: flex;
}

#EduChart {
  padding: 1em;
}
#EduChart,
#status {
  padding-top: 1em;
}

.career,
.status {
  display: flex;
  flex-direction: column !important;
  text-align: left;
  align-items: flex-start;
  padding: 1em;
  font-family: "Prompt";
}
.career span {
  display: flex;
  align-items: center;
  width: 100%;
}
.career div {
  min-width: 100px;
}
.career span img {
  width: 35px;
  padding: 5px;
  /* box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.158);
  border-radius: 7px; */
  margin-bottom: 5px;
  margin-right: 5px;
}
.gender .boxfirst {
  width: 150px;
}
.countGender {
  display: flex;
  flex-direction: column;
  background-color: rgb(61,101,254)  !important;
  color: white;
  font-size: 25px;
}
.line{
  width: 90%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}
.textX,.textY{
  width: 90%;
  padding: 20px 0 20px 0;
  display: flex;
  align-items: center;
}
.percent {
  font-weight: 600;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.dutybox {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-family: "Prompt";
}
.dutybox div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.dutybox .img {
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.pic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Prompt';
}
.datail{
  width: 100%;
  align-items: flex-start;
}
.datail h2{
  font-weight: 600;
  font-size: 15px;
  font-family: 'Prompt';
}
.datail div{
  display: flex;
  /* align-items: center; */
}
.datail div span{
  font-weight: 500;
  color: gray;
  font-size: 15px;
  margin-right: 20px;
  font-family: 'Prompt';
}
.login{
  display: flex;
  flex-direction: column;
  font-family: 'Prompt';
  justify-content: flex-start;
}
.div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
}
.div img{
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.267);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.datail .div .img{
width: 50px;
height: 50px;
padding: 7px;
border-radius: 50px;
justify-content: center;
align-items: center;
box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.212);
}

.age{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-top: 10px;
  justify-content: center;
}
.age .color{
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 20px;
}
.age div{
  display: flex;
  align-items: center;
  padding: 5px;
}
.topicGender{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.boxgender{
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headofTable{
  width: 100%;
  margin-left: 10px;
  height: auto;
}
.headofTable mat-form-field{
  margin-left: 15em;
}

.prof{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#profile{
  font-family: 'Prompt';
  font-weight: 600;
  font-size: medium;
}
.textPf{
  display: flex;
  flex-direction: column;
}
mat-paginator{
  /* height: 30px !important; */
  margin-top: -20px;
}
