<div class="container">
  <div class="menu">
    <app-navbar></app-navbar>
  </div>
  <div class="content">
    <div class="head">
      <h1>ยินดีต้อนรับ {{ myusername?.username }} !</h1>
      <p>สถิติข้อมูลผู้ใช้ทั่วไป</p>
    </div>
    <div class="row1">
      <div id="lineStat">
        <!-- <h5>สถิติการศึกษาของผู้ใช้งาน</h5> -->
        <canvas id="EduChart"></canvas>
      </div>
      <div class="statBox">
        <div class="boxStat1 career">
          <span>
            <img src="./assets/education.png" />
            <div style="font-size: 12px">
              นักเรียน/นักศึกษา
              <span>{{ students?.length + " คน" }}</span>
            </div>
            <span class="percent">{{
              ((students?.length / totalUser) * 100).toFixed() + "%"
            }}</span>
          </span>
          <span>
            <img src="./assets/official.png" />
            <div style="font-size: 12px">
              ข้าราชการ
              <span>{{ offical?.length + " คน" }}</span>
            </div>
            <span class="percent">{{
              ((offical?.length / totalUser) * 100).toFixed(2) + "%"
            }}</span>
          </span>

          <span>
            <img src="./assets/enterprise.png" />
            <div style="font-size: 12px">
              รัฐวิสาหกิจ
              <span>{{ enterprise?.length + " คน" }}</span>
            </div>

            <span class="percent">{{
              ((enterprise?.length / totalUser) * 100).toFixed(2) + "%"
            }}</span>
          </span>
          <span>
            <img src="./assets/analyst.png" />
            <div style="font-size: 12px">
              เจ้าของกิจการ
              <span>{{ onwer?.length + " คน" }}</span>
            </div>
            <span class="percent">{{
              ((onwer?.length / totalUser) * 100).toFixed(2) + "%"
            }}</span>
          </span>
          <span>
            <img src="./assets/employee.png" />
            <div style="font-size: 12px">
              ลูกจ้าง/พนักงาน
              <span>{{ employee?.length + " คน" }}</span>
            </div>

            <span class="percent">{{
              ((employee?.length / totalUser) * 100).toFixed(2) + "%"
            }}</span>
          </span>
          <span>
            <img src="./assets/briefcase.png" />
            <div style="font-size: 12px">
              ว่างงาน
              <span>{{ unemployed?.length + " คน" }}</span>
            </div>

            <span class="percent">{{
              ((unemployed?.length / totalUser) * 100).toFixed(2) + "%"
            }}</span>
          </span>
        </div>
        <div class="boxStat1 status">
          <!-- <h5>สถิติการสมรสของผู้ใช้งาน</h5> -->
          <canvas id="status"></canvas>
        </div>

        <!-- <div class="boxStat2">
          <div class="bs1"></div>
          <div class="bs2"></div>
        </div> -->
      </div>
    </div>

    <div class="row2">
      <div class="statBox">
        <div class="boxfirst">
          <span>ช่วงอายุของผู้ใช้</span>
          <br />
          <canvas id="age"></canvas>
          <div class="age">
            <div>
              <div
                style="background-color: rgb(61, 101, 254)"
                class="color"
              ></div>
              10-19
            </div>
            <div>
              <div
                style="background-color: rgb(253, 206, 91)"
                class="color"
              ></div>
              20-29
            </div>
            <div>
              <div
                style="background-color: rgb(250, 166, 182)"
                class="color"
              ></div>
              30-39
            </div>
            <div>
              <div
                style="background-color: rgb(217, 217, 255)"
                class="color"
              ></div>
              40-49
            </div>
            <div>
              <div
                style="background-color: rgb(0, 238, 207)"
                class="color"
              ></div>
              50+
            </div>
          </div>
        </div>
      </div>
      <div class="statBox gender">
        <div class="boxfirst countGender">
          <div class="topicGender">
            <div class="boxgender">
              <img src="./assets/gender-fluid2.png" width="25" />
            </div>
            <span>
              จำนวนเพศ<br />
              ของผู้ใช้
            </span>
          </div>
          <div class="textX">
            <img src="./assets/woman.png" width="50" />
            {{ x?.length + " คน" }}
          </div>
          <div class="line"></div>
          <div class="textY">
            <img src="./assets/standing-up-man-.png" width="50" />
            {{ y?.length + " คน" }}
          </div>
        </div>
      </div>
      <div class="mat-elevation-z8">
        <div class="headofTable">
          <!-- ตารางข้อมูลผู้ใช้ทั่วไป -->
          <!-- <mat-form-field class="searchKey" appearance="standard">
            <input
              placeholder="Search"
              matInput
              autocomplete="off"
              [(ngModel)]="searchKey"
              (keyup)="applyFilter()"
            />
            <button
              mat-button
              mat-icon-button
              matSuffix
              aria-label="clear"
              *ngIf="searchKey"
              (click)="searchClear()"
            >
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon *ngIf="!searchKey" class="searchIcon" matSuffix
              >search</mat-icon
            >
          </mat-form-field> -->
        </div>
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th  *matHeaderCellDef>No.</th>
            <td  *matCellDef="let element; let i = index">
              {{ i + pageIndex+" " }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th  *matHeaderCellDef>ชื่อ</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value.firstname + " " + element.value.lastname }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="gender">
            <th *matHeaderCellDef>เพศ</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value.gender }}
            </td>
          </ng-container>
          <ng-container matColumnDef="education">
            <th *matHeaderCellDef>การศึกษา</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value.education }}
            </td>
          </ng-container>
          <ng-container matColumnDef="maritialStatus">
            <th *matHeaderCellDef>สถานะ</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value.maritialStatus }}
            </td>
          </ng-container>
          <ng-container matColumnDef="career">
            <th  *matHeaderCellDef>อาชีพ</th>
            <td mat-cell *matCellDef="let element">
              {{ element.value.career }}
            </td>
          </ng-container>
          <ng-container matColumnDef="birthDate">
            <th  *matHeaderCellDef>อายุ</th>
            <td mat-cell *matCellDef="let element">{{ element.value.age }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [length]="totalTable"
          [pageSize]="3"
          [pageSizeOptions]="pageSize"
          (page)="showPage($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
  <div class="profile">
    <div class="content pf">
      <div class="head prof">
        <span id="profile">Profile</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <span style="color: gray" class="material-icons"> more_horiz </span>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button class="matMenu" mat-menu-item (click)="editProfile()">
          <mat-icon>account_box</mat-icon>
          <span style="font-family: 'Prompt'">แก้ไขข้อมูลส่วนตัว </span>
        </button>
        <button class="matMenu" mat-menu-item (click)="resetPassword()">
          <mat-icon>edit</mat-icon>
          <span style="font-family: 'Prompt'">แก้ไขรหัสผ่าน</span>
        </button>
      </mat-menu>
      <div class="pic">
        <img [src]="display" width="180" />
        <br />
        <span>{{ myusername?.username }}</span>
        <span>{{ localuser?.user.email }}</span>
        <br />
        <div class="dutybox">
          <div class="img">
            <img src="./assets/3.png" width="40" />
          </div>
          <div>
            <b>ผู้ดูแลระบบ</b>
            <span>admin</span>
          </div>
        </div>
        <br />
        <div class="datail">
          <h2>ข้อมูลส่วนตัว</h2>
          <div>
            <img src="./assets/profile.png" width="40" height="40">
            &nbsp;   &nbsp;
            <div class="textPf">
              <span>ชื่อ</span>
              <p>{{ myusername?.firstname + " " + myusername?.lastname }}</p>
            </div>
          </div>
          &nbsp;
          <div>
            <img src="./assets/symbol.png" width="40" height="40">
            &nbsp;  &nbsp;
            <div class="textPf">
              <span>เพศ</span>
              <p>{{ myusername?.gender }}</p>
            </div>
          </div>
          &nbsp;
          <div>
            <img src="./assets/passwordD.png" width="40" height="40">
            &nbsp;  &nbsp;
            <div class="textPf">
              <span>วันที่สร้างบัญชี</span>
              <p>{{ creatAtday }}</p>
            </div>
          </div>
        </div>
        <div class="datail">
          <h2>การลงชื่อเข้าใช้</h2>
          <div class="div">
            <img src="./assets/loginBlue.png" width="40" height="40"/>
            &nbsp; &nbsp;
            <div class="login">
              <span>ล็อคอินล่าสุด</span>
              <span>{{ lastloginDate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
