<div class="container">
  <div class="menu">
    <app-menubar-doctor></app-menubar-doctor>
  </div>
  <div class="content">
    <div class="form-group">
      <h1 class="h1">เอกสารแบบทดสอบ</h1>
      <!-- <input
        type="file"
        id="file"
        #userPhoto
        (change)="onFileSelected($event)"
        name="image"
        autocomplete="off"
      /> -->

      <mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> ชื่อไฟล์ </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="getdata(element)">
            {{ element.value.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> วันที่อัพโหลด </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.value.date }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fequency">
          <mat-header-cell *matHeaderCellDef>
            ความถี่ของแบบทดสอบ
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.value.fequency + " ครั้ง/สัปดาห์" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> เครื่องมือ </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span id="action" (click)="go(element)">ดู</span>
            <!-- <span id="action" (click)="deleteFileData(element)">ลบ</span> -->
            <span id="action" (click)="editFile(element)">แก้ไข</span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

    </div>
  </div>
  <!-- <div class="calender">

  </div> -->
</div>
