.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.menu{
  width: 90px;
  /* background-color: rgb(7, 8, 8); */
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5em;
  background-color: #F5F6FA;
}
.form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
}
mat-table{
  width: 100%;
  box-shadow: none;
  font-family: 'Prompt';
}
/* mat-header-cell, mat-footer-cell {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  min-height: inherit;

}*/
#action{
  padding: 10px;
  cursor: pointer;
}
#file{
  padding: 20px;
}
.calender{
  width: 450px;
  background-color: white;
}
.h1{
  font-family: 'Prompt';
}
