<div class="container">
  <div class="menu">
    <app-menubar-doctor></app-menubar-doctor>
  </div>
  <div class="statBlock">
    <div class="date">
      <span style="font-weight: 600; font-family: 'Prompt';">Dashboard</span><br>
      <span>{{date}}</span>
    </div>
    <div class="helloBox">
      <p>
        <span>สวัสดี</span> {{ myusername?.username }} !
        <br />
        <span style="font-weight: 400; font-size: 15px"
          >ยินดีต้อนรับสู่หน้าสถิติรวมผู้ใช้งานแบบทดสอบสุขภาพจิต</span
        >
      </p>
      <img src="./assets/dc.png" id="imgDc" width="400" height="250" />
    </div>
    <div class="scoreBlock">
      <div class="score">
        <div>
          <div style="display: flex; align-items: center;">
            <img src="./assets/023-anxiety.png" width="50" height="50">
            &nbsp;&nbsp;
            <p><span>แบบทดสอบการฆ่าตัวตาย</span><br /><br />{{ ss }} คน</p>
          </div>
          <br>
          <div style="display: flex; align-items: center;">
            <img src="./assets/019-anxiety.png" width="50" height="50">
            &nbsp;&nbsp;
            <p><span>แบบทดสอบโรคซึมเศร้า</span><br /><br />{{ dp }} คน</p>
          </div>
        </div>
        &nbsp; &nbsp;
        <div>
          <div style="display: flex; align-items: center;">
            <img src="./assets/010-happy.png" width="50" height="50">
            &nbsp;&nbsp;
            <p><span>แบบทดสอบตัวชี้วัดความสุข</span><br /><br />{{ hp }} คน</p>
          </div>
          <br>
          <div style="display: flex; align-items: center;">
            <img src="./assets/034-social anxiety.png" width="50" height="50">
            &nbsp;&nbsp;
            <p><span>แบบทดสอบความเครียด</span><br /><br />{{ st }} คน</p>
          </div>
        </div>
      </div>
      <div class="scoreGender">
        <div class="scoreGender1">
          <p style="font-size: 15px;">จำนวนคนทั้งหมด</p>
          <span style="font-weight: 600;">{{ totalPeoples }}</span>
          <span style="width: 100%; border-bottom: 1px solid white;"></span>
          <span style="font-weight: 300; font-size: 10px;">จำนวนคนทั้งหมดที่ทำแบบทดสอบ</span>
        </div>
        <!-- <div class="scoreGenderXnY">
          <div class="scoreGender2"></div>
          <div class="scoreGender3"></div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="profileBlock">
    <div class="content pf">
      <div class="head prof">
        <span id="profile">Profile</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <span style="color: gray" class="material-icons"> more_horiz </span>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button class="matMenu" mat-menu-item (click)="editProfile()">
          <mat-icon>account_box</mat-icon>
          <span style="font-family: 'Prompt'">แก้ไขข้อมูลส่วนตัว </span>
        </button>
        <button class="matMenu" mat-menu-item (click)="resetPassword()">
          <mat-icon>edit</mat-icon>
          <span style="font-family: 'Prompt'">แก้ไขรหัสผ่าน</span>
        </button>
      </mat-menu>
    <div class="pic">
      <div class="display">
        <img [src]="display" width="200" />
        <br>
        <span>{{ myusername?.username }}</span>
        <span>{{ localuser?.user.email }}</span>
      </div>
      <br />
      <div class="dutybox">
          <img src="./assets/3.png" width="40" />
        <div>
          <b>จิตแพทย์/แพทย์</b>
          <span>psychiatrist</span>
        </div>
      </div>
      <br />
      <div class="datail">
        <h2>ข้อมูลส่วนตัว</h2>
        <div>
          <img src="./assets/profile.png" width="40" height="40">
          &nbsp;   &nbsp;
          <div class="textPf">
            <span>ชื่อ</span>
            <p>{{ myusername?.firstname + " " + myusername?.lastname }}</p>
          </div>
        </div>
        &nbsp;
        <div>
          <img src="./assets/symbol.png" width="40" height="40">
          &nbsp;  &nbsp;
          <div class="textPf">
            <span>เพศ</span>
            <p>{{ myusername?.gender }}</p>
          </div>
        </div>
        &nbsp;
        <div>
          <img src="./assets/passwordD.png" width="40" height="40">
          &nbsp;  &nbsp;
          <div class="textPf">
            <span>วันที่สร้างบัญชี</span>
            <p>{{ creatAtday }}</p>
          </div>
        </div>
      </div>
      <div class="datail">
        <h2>การลงชื่อเข้าใช้</h2>
        <div class="div">
          <img src="./assets/loginBlue.png" width="40" height="40"/>
          &nbsp; &nbsp;
          <div class="login">
            <span>ล็อคอินล่าสุด</span>
            <span>{{ lastloginDate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>
