.container{
  width: 100%;
  height: 100%;
  display: flex;
}
.menu{
  width: 120px;
}
.statBlock{
  background-color: #F5F6FA;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em;
  padding-bottom: 5em;
}
.profileBlock{
  width: 400px;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.helloBox{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #FFE7C1;
  font-family: 'Prompt';
  border-radius: 20px;
  padding: 5em;
  font-size: 20px;
  z-index: 0;
}
.helloBox p span{
  font-weight: 600;
}
.helloBox p{
  margin-right: 4em;

}
#imgDc{
  z-index: 20;
  margin-bottom: 2.4em;
  margin-right: 5em;
}

.score{
  width: 100%;
  min-height: 220px;
  height: auto;
  background-color: white;
  border-radius: 20px;
  margin-top: 2em;
  margin-right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Prompt';
  flex-wrap: wrap;
  font-size: 17px;
  padding: 2em;
  text-align: left;
}

.scoreGender{
 display: flex;
 height: auto;
 justify-content: center;
 align-items: center;
 font-family: 'Prompt';
}
.scoreGender1{
  width: 150px;
  height: 220px;
  background-color: #FD7468;
  border-radius: 20px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Prompt';
  font-size: 20px;
  color: white;
  padding: 1em;
}
.scoreGender1 span{
  /* margin-bottom: 4em; */
}
.scoreBlock{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Prompt';
}
.scoreGenderXnY{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 220px;
  margin-top: 3em;
}
.scoreGender2, .scoreGender3{
  width: 125px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  margin-left: 2em;
  /* margin-top: 2em; */
  font-family: 'Prompt';
}

/*profile*/
.prof{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#profile{
  font-family: 'Prompt';
  font-weight: 600;
  font-size: medium;
}
.textPf{
  display: flex;
  flex-direction: column;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
  font-family: 'Prompt';
}
.head {
  width: 100%;
}
.datail .div .img{
  width: 50px;
  height: 50px;
  padding: 7px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.212);
  }
  .dutybox {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: #F5F6FA;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-family: "Prompt";
  }
  .dutybox div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .dutybox .img {
    border-radius: 50px;
    justify-content: center;
    align-items: center;
  }
  .pic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Prompt';
  }
  .datail{
    width: 100%;
    align-items: flex-start;
  }
  .datail h2{
    font-weight: 600;
    font-size: 15px;
    font-family: 'Prompt';
  }
  .datail div{
    display: flex;
    /* align-items: center; */
  }
  .datail div span{
    font-weight: 500;
    color: gray;
    font-size: 15px;
    margin-right: 20px;
    font-family: 'Prompt';
  }

  .login{
    display: flex;
    flex-direction: column;
    font-family: 'Prompt';
    justify-content: flex-start;
  }
  .div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
  }
  .div img{
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.267);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .datail .div .img{
  width: 50px;
  height: 50px;
  padding: 7px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.212);
  }
.display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}
.date{
  margin-bottom: 3em;
  width: 100%;
  margin-left: auto;
}
