.container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  background-color: white;
  height: auto;
  font-family: "Prompt";
  max-width: 100%;
}
.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-height: 100%;
  padding-bottom: 20px;
  z-index: 4;
}
.menu {
  width: 250px;
  /* padding-right: 20px; */
}

.material-icons {
  cursor: pointer;
}

mat-table {
  width: 100%;
  box-shadow: 0 0 0 !important;
  border-bottom: none !important;
  background-color: white !important;
  border-collapse: collapse;
  font-family: "Prompt" !important;
  font-size: 18px;

}
#email {
  max-width: 250px !important;
  /* background-color: #40496b; */
}
#gender {
  cursor: pointer;
  max-width: 80px !important;
  /* background-color: #335DFF; */
}
#userStatus {
  max-width: 100px !important;
  /* background-color: #15309c; */
}
mat-header-cell:first-of-type,
mat-cell:first-of-type {
  max-width: 150px !important;
}
mat-header-cell:last-of-type,
mat-cell:last-of-type {
  max-width: 50px !important;
  width: 10px;
}
mat-row {
  border-bottom: none;
  padding: 5px;
}

mat-row:last-child {
  z-index: -1px;
  border-bottom: none;
}
mat-row:first-of-type {
  border-bottom: none;
  padding-top: 15px;
}

mat-header-row {
  background-color: #F9FAFD;
  border-bottom: none;
  min-height: 40px;
}
mat-paginator {
  background-color: white !important;
}
mat-header-cell{
  color: #5D6B92 !important;
}

/* mat-cell:last-of-type {
  width: 10px;
}
mat-header-row {
  min-height: 40px;
} */

.tableUser {
  width: 100%;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
}

.tableUser h3 {
  font-family: "Prompt" !important;
  font-size: 18px;
  font-weight: 600;
}
.headTopic{
  padding-top: 4em;
}
.headTopic h1 {
  font-size: 25px;
  font-family: "Prompt" !important;
  font-weight: 600;
}

.headTopic p {
  padding: 0;
  font-family: "Poppins";
  color: gray;
  position: absolute;
  margin-top: -10px; /*ปรับให้ข้อความบรรทัดชิดมากขึ้น*/
}
.topTool{
  margin-bottom: 2em;
}
.topTool .searchKey {
  width: 100%;
}
.topTool .selectBox {
  width: 15%;
  height: auto;
  padding-right: 5px;
  padding-left: 10px;
  font-family: 'Prompt';
}
.topTool .selectBox select {
  width: 100%;
  height: 45px;
  border-radius: 14px;
  border: 2px solid #C4CDF3;
  padding-right: 5px;
  font-family: 'Prompt';
}


.topTool {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 20px;
}

.topTool h1 {
  justify-content: flex-start;
  width: 100%;
  font-weight: 600;
}
.topTool .toolSearch {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topTool button {
  height: 50px;
}
#moreHoriz {
  color: #b4b6b6;
}
#moreHoriz:hover {
  color: #335dff;
}

.user,
.doctor {
  font-weight: 600;
  font-family: "Poppins";
}
.user,
.doctor {
  background-color: #f7f4fc;
  border-radius: 20px;
  padding: 2px 10px 2px 10px;
  position: absolute;
  color: #335dff;
}
/* .doctor{
  background-color: #fdf9e8;
  border-radius: 20px;
  padding: 2px 10px 2px 10px;
  position: absolute;
  color: #FFB800;
} */

#unavailable,
#available {
  font-weight: 600;
  font-family: "Prompt";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.stsTap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#available .disableDT {
  color: gray;
  font-size: 10px;
  font-weight: 300;
}
#unavailable .disableDT {
  color: gray;
  font-size: 10px;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#available img,
#unavailable img {
  padding-right: 5px;
}
#available {
  color: #23c38e;
}
#unavailable {
  color: #ff5b57;
}
#btnStatus span {
  color: #7d7e7e;
  font-size: 20px;
}
#btnStatus:active,
#btnStatus:focus,
#btnStatus:hover {
  border: 1px solid #23c38e;
  color: #23c38e !important;
  background-color: transparent !important;
}

#btnStatus span:hover,
#btnStatus span:focus {
  color: #23c38e;
}

#btnStatus {
  background-color: white;
  border: 1px solid #7d7e7daf;
  min-width: 30px;
  max-height: 30px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: none;
}

.boxAmount {
  display: flex;
  width: 100%;
  /* padding-top: 4em; */
  /* justify-content: space-around; */
}
.people {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 170px;
  background-color: white;
  /* #FCFDFE */
  padding: 20px;
  margin-right: 20px;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  align-items: center;
  cursor: pointer;
}
.people h1 {
  width: 100%;
  font-weight: 600;
  font-family: "Prompt";
}
.people p {
  color: gray;
  font-weight: 500;
  font-family: "Prompt";
}
.people span {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.people img {
  max-width: 70px;
  max-height: 70px;
  padding: 15px;
  background: white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #eff5fb;
}
.Pcontent {
  display: flex;
  flex-direction: column;
}
.head {
  width: 100%;
  height: 150px;
  padding: 25px 0 0 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
}
.matMenu span {
  font-family: "Prompt";
}

/*ToolBox*/
.contentToo {
  width: 100%;
  height: 300px;
  background-color: white;
  box-shadow: 0px 5px 10px #e8e9f1;
  border-radius: 20px;
  padding: 20px;
}
.toolBox {
  width: 25%;
  display: flex;
  height: auto;
  min-height: 100vh;
  z-index: 1;
  padding-left: 30px;
  padding-top: 5em;
  background-color: transparent;
}
.graphHuman {
  width: 100%;
  height: 100%;
  background-color: #f6f7fc;
  border-top-left-radius: 45px;
  padding: 2em;
  margin-top: 4em;
}
.graphHuman .lastpic {
 margin-top: 3em;
 margin-bottom: auto;
}
canvas {
  /* padding: 25px;
  height: auto; */
  width: 200%;
}
/*น้องปุ่มสีแดง*/
.AddUser {
  display: flex;
  width: 100%;
  padding: 15px;
  border-radius: 18px;
  align-items: center;
  background-color: #ff5b57;
  margin-top: 30px;
  cursor: pointer !important;
  background: url(/assets/Asset\ 6.png);
  background-size: cover;
  background-position-y: -1px;
}
.AddUser .material-icons {
  background-color: #fed5d5;
  color: #ff5b57;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid #ff8582;
}

.textBtnAdd {
  margin-left: 15px;
  color: white;
  font-size: 16px;
}
.noteBox {
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0px 5px 10px #e8e9f1;
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
}
.noteBox .headNoteBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.noteBox mat-form-field {
  width: 100%;
  margin-top: 10px;
  height: 50px !important;
  border: none;
}
.noteBox mat-form-field span {
  color: #bbbbbb;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  font-size: 20px;
}
.noteBox mat-form-field input {
  position: absolute;
  top: 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: "Prompt" !important;
  border: 1px solid rgb(224,224,224);
}
#noteMessage {
  width: 100%;
  height: 100%;
  padding: 15px 0px 15px 0;
  display: flex;
  align-items: center;
}
#noteMessage span {
  margin-left: 20px;
}
#noteMessage span b {
  color: #335dff;
  cursor: pointer;
}
#noteMessage span b:hover {
  color: #ff5b57;
}

.time {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.searchIcon {
  background-color: #335cff;
  width: 35px;
  height: 35px;
  padding: 3px;
  border-radius: 10px;
  color: white;
  border: 3px solid #aec7ff;
  cursor: pointer;
}
.searchKey {
  width: 100%;
  border: none;
  box-shadow: 0px 10px 20px #eceef3;
  padding-bottom: 0 !important;
  font-family: "Prompt";
}
:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
}
:host ::ng-deep .mat-form-field{
  border-radius: 15px !important;
}
