<div class="container">
  <div class="menu">
    <app-navbar></app-navbar>
    <app-navhornz></app-navhornz>
  </div>
  <div class="content">
    <div class="head">
      <h1 style="font-size: 30px; font-family: 'Prompt'; font-weight: 600">
        บัญชีผู้ใช้ในระบบ
      </h1>
      <!-- <div class="headTopic">
        <h1 style="font-size: 23px; font-weight: 300;">การจัดการบัญชีผู้ใช้</h1>
        <p>Management Account</p>
      </div> -->
    </div>
    <div class="boxAmount">
      <div class="people" (click)="getUserList()">
        <img src="./assets/data-storage.png" />
        <span>
          <h1>{{ doctor?.length + user?.length + " คน" }}</h1>
          <p>ผู้ใช้งานทั้งหมด</p>
        </span>
      </div>
      <div class="people" (click)="getUser()">
        <img src="./assets/folder.png" />
        <span>
          <h1 *ngIf="user?.length == null">0 คน</h1>
          <h1 *ngIf="user?.length !== null">{{ user?.length + " คน" }}</h1>
          <p>ผู้ใช้งานทั่วไป</p>
        </span>
      </div>
      <div class="people" (click)="getDoctor()">
        <img src="./assets/stethoscope.png" />
        <span>
          <h1 *ngIf="doctor?.length == null">0 คน</h1>
          <h1 *ngIf="doctor?.length !== null">{{ doctor?.length + " คน" }}</h1>
          <p>แพทย์/นักจิตวิทยา</p>
        </span>
      </div>
    </div>
    <div class="topTool">
      <div class="toolSearch">
        <mat-form-field class="searchKey">
          <input
            placeholder="ค้นหาอีเมล"
            matInput
            autocomplete="off"
            [(ngModel)]="searchKey"
            (keyup)="applyFilter()"
          />
          <button
            mat-button
            mat-icon-button
            matSuffix
            aria-label="clear"
            *ngIf="searchKey"
            (click)="searchClear()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-icon *ngIf="!searchKey" class="searchIcon" matSuffix
            >search</mat-icon
          >
        </mat-form-field>
      </div>
    </div>
    <!---------------------TABLE DATA------------------------->
    <div class="tableUser">
      <h3>ผู้ใช้งานในระบบ</h3>
      <mat-table [dataSource]="tableList" matSort class="mat-elevation-z8">
        <!-- <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef=""> ลำดับ </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ i + pageIndex }}.
        </mat-cell>
      </ng-container> -->

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
          <mat-cell *matCellDef="let element" id="email" (click)="checkdata(element)">
            {{ element.value.email }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> ชื่อ </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.value.firstname }} {{ element.value.lastname }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="gender">
          <mat-header-cell id="gender" *matHeaderCellDef> เพศ </mat-header-cell>
          <mat-cell id="gender" *matCellDef="let element">
            {{ element.value.gender }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="userStatus">
          <mat-header-cell *matHeaderCellDef id="userStatus">
            สถานะ
          </mat-header-cell>
          <mat-cell id="userStatus" *matCellDef="let element">
            <span class="user" *ngIf="element.value.role == 'user'">
              {{ element.value.role }}</span
            >
            <span class="doctor" *ngIf="element.value.role == 'doctor'">
              {{ element.value.role }}</span
            >
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> สถานะการใช้งาน </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.value.status == true" id="available">
              <span class="stsTap">
                <img src="./assets/Asset 2.png" width="20px" />
                {{ "ใช้งาน" }}
              </span>
              <span class="disableDT">{{ element.value.disableDT }}</span>
            </span>
            <span *ngIf="element.value.status == false" id="unavailable">
              <span class="stsTap">
                <img src="./assets/Asset 1.png" width="20px" />
                {{ "หยุดใช้งาน" }}
              </span>
              <span class="disableDT">{{ element.value.disableDT }}</span>
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="enable">
          <mat-header-cell *matHeaderCellDef>
            ตั้งค่าการใช้งาน
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button matTooltip="ปิดการใช้งาน" mat-raised-button id="btnStatus">
              <span
                (click)="changeStatus('close', element)"
                class="material-icons"
              >
                lock
              </span>
            </button>
            &nbsp;
            <button matTooltip="เปิดการใช้งาน" mat-raised-button id="btnStatus">
              <span
                mat-raised-button
                class="material-icons"
                (click)="changeStatus('open', element)"
                #7d7e7e
              >
                lock_open
              </span>
            </button>
            &nbsp;
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button id="moreHoriz" [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                class="matMenu"
                mat-menu-item
                (click)="resetPassword(element)"
              >
                <mat-icon>edit</mat-icon>
                <span>แก้ไขรหัสผ่าน </span>
              </button>
              <button class="matMenu" mat-menu-item (click)="delete(element)">
                <mat-icon>delete_outline</mat-icon>
                <span>ลบข้อมูลผู้ใช้ </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
        [length]="totalTable"
        [pageSize]="5"
        [pageSizeOptions]="pageSize"
        (page)="showPage($event)"
      >
      </mat-paginator>
    </div>
  </div>
  <div class="toolBox">
    <div class="graphHuman">
      <!-- <div class="contentToo">
          <canvas id="lineChart"></canvas>
        </div> -->
      <div class="noteBox">
        <span class="headNoteBox">
          เตือนความจำ
          <img src="./assets/Asset 3.png" width="35px" (click)="noteBox()" />
        </span>
        <div id="noteMessage" *ngFor="let item of myNote?.text; let i = index">
          <img src="./assets/highlight.png" width="45px" />
          <span *ngIf="i < 3">{{ item }}<br /><b>ลบ</b></span>
          <span class="time" style="color: gray; font-weight: 300">
            {{ myNote?.time[i] }}
          </span>
        </div>
        <mat-form-field *ngIf="note">
          <input
            matInput
            #noteText
            placeholder="เพิ่มบันทึก"
            (keyup.enter)="reminderInput(noteText)"
          />
          <span matSuffix class="material-icons"> send </span>
        </mat-form-field>
      </div>
      <div class="AddUser" (click)="registorPage()">
        <span class="material-icons">add</span>
        <span class="textBtnAdd">เพิ่มผู้ใช้</span>
      </div>
      <img class="lastpic" src="./assets/2143210.png" width="250px">
    </div>
  </div>
</div>
