// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$adminhealth-primary: mat-palette($mat-indigo);
$adminhealth-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$adminhealth-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$adminhealth-theme: mat-light-theme(
  $adminhealth-primary,
  $adminhealth-accent,
  $adminhealth-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($adminhealth-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$adminhealth-primary: mat-palette($mat-indigo);
$adminhealth-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$adminhealth-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$adminhealth-theme: mat-light-theme(
  $adminhealth-primary,
  $adminhealth-accent,
  $adminhealth-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($adminhealth-theme);
