
.Testtable{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
}

mat-table {
  width: 100%;
  font-family: 'Prompt';
  box-shadow: none;
}
.graph{
  padding: 5em;
  display: flex;
  width: 100%;
  margin-top: -10%;
}
mat-grid-list{
  padding: 5em;
}
.header{
  display: flex;
  font-size: large;
  font-weight: 700;
  font-family: 'Prompt';
  padding: 5em;
  width: 100%;

}
.header span {
  width: 100%;
}
.dateHeader{
  padding-left: 15px;
}

.menu{
  padding-right: 20px;
  z-index: 10;
  width: 90px;
}
.container{
  display: flex;
  background-color: #F5F6FA;
  height: 100%;
}
.content {
  width: 100%;
  max-width: 100%;
  z-index: 10;
}
.user {
  cursor: pointer;
}
.user:hover{
  color: rgb(47, 123, 221);
}
button{
  background-color: #3D65FE !important;
  box-shadow: 5px 5px 10px  #3d64fe52 !important;
  font-family: 'Prompt';


}
