<div class="container">
  <div class="menu">
    <app-menubar-doctor></app-menubar-doctor>
  </div>
  <div class="content">
    <div class="header">
      <span>
        <p>ตารางรายการบุคคล{{ testName +" " + showdate }}</p>
      </span>
      &nbsp;
      <button (click)="downloadPdf(testName,showdate)" mat-raised-button color="primary">ดาวน์โหลด</button>
    </div>
    <div class="graph">
      <div class="Testtable">
        <mat-table id="table" [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="no">
            <mat-header-cell *matHeaderCellDef=""> ลำดับ </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              {{ i + pageIndex }}.
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="user">
            <mat-header-cell *matHeaderCellDef> ชื่อผู้ใช้ </mat-header-cell>
            <mat-cell class="user"
              *matCellDef="let element"
              (click)="detailUser(element.user)"
            >
              {{ element.user }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef> เพศ </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.gender }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> วันเวลา </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              {{ timeString[i] }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="score">
            <mat-header-cell *matHeaderCellDef> คะแนน </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.totalScore }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="result" class="action">
            <mat-header-cell *matHeaderCellDef> ผล </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.result }}
            </mat-cell>
            <mat-cell *matCellDef="let element">
              <span class="material-icons" id="editIcon"> edit</span>
              <span class="material-icons" id="deleteIcon"> delete</span>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          [length]="totalTable"
          [pageSize]="5"
          [pageSizeOptions]="pageSize"
          (page)="showPage($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
