<body>
  <nav>
    <ul class="menu">
      <li><img src="./assets/sad (1).png" width="40" /></li>
      <li><a href="#menu1">Home</a></li>
      <li><a href="#menu2">Function</a></li>
      <li><a href="#menu3">Purpose</a></li>
      <li><a href="#menu6">Download</a></li>
      <li (click)="loginDialog()">เข้าสู่ระบบ</li>
    </ul>
  </nav>
  <div class="container">
    <section id="menu1">
      <div class="head">
        <div class="text">
          <h1>MoodTracker</h1>
          <h2>แอปพลิเคชั่นติดตามอารมณ์</h2>
          <span
            >โมบายแอปพลิเคชั่นไดอารี่เพื่อสุขภาพจิต
            ตัวช่วยในการรู้สุขภาพจิตตนเอง
            อย่าให้อารมณ์ร้ายๆทำลายคุณ
          </span>
          <br />
          <button mat-raised-button id="btnDw" ><a href="#menu6" style="color: white;">Download</a></button>
        </div>
        <div class="img">
          <img src="./assets/4.gif" width="600"/>
        </div>
      </div>
    </section>
    <section id="menu2">
      <h1>How it work</h1>
      <br />
      <div class="howItWork">
        <div class="box">
          <img src="./assets/4209042.jpg" width="200" />
          <h2>ไดอารี่</h2>
          <p>
            ฟีเจอร์ไดอารี่บันทึก กิจกรรมได้ทั้งข้อความและอัดเสียง
            ที่มีไอค่อนอารมณ์สุดน่ารักให้คุณเลือกในการบันทึก
          </p>
        </div>
        <div class="box">
          <img src="./assets/3684518.jpg" width="200" />
          <h2>สถิติอารมณ์</h2>
          <p>มีการเก็บสถิติอารมณ์ในการบันทึกของคุณและนำมาสรุปผลให้คุณได้ดู</p>
        </div>
        <div class="box">
          <img src="./assets/3593987.jpg" width="200" />
          <h2>แบบทดสอบสุขภาพจิต</h2>
          <p>
            แบบประเมินสุขภาพจิต 4 แบบ มาตรฐานจากกรมสุขภาพจิต
            ให้คุณสามารถประเมินสุขภาพจิตของคุณได้ง่ายๆและมีประวัติให้ดูอีกด้วย
          </p>
        </div>
      </div>
    </section>
    <section id="menu3">
      <div class="purpose">
        <div class="img">
          <img src="./assets/4365502.jpg" width="550px" />
        </div>
        <div class="text textPurpose">
          <h2>ทำไมต้องแอปพลิเคชั่นติดตามอารมณ์?</h2>
          <span>
            โมบายแอปพลิเคชั่นไดอารี่จะช่วยส่งเสริมสุขภาพจิตที่ดีขึ้น
            โดยการบันทึกชีวิตประจำวันและเหตุการณ์ต่างๆ
            การบันทึกจะทำให้เราได้รู้สภาพจิตใจของตัวเอง
            การเปลี่ยนแปลงทางด้านอารมณ์ความรู้สึก ความคิดเชิงลบของตนเอง
            ที่ส่งผลถึงสุขภาพจิต <br /><br />
            ตัวแอปพลิเคชั่นส่งเสริมด้านสุขภาพจิตในการ ดูแล แก้ไขและป้องกัน
            ไม่ให้อารมณ์ความรู้สึกด้านลบนั้นลุกลามจนส่งผลเสีย
            ด้วยการใส่ใจตรวจสอบอารมณ์ตนเองอย่างสม่ำเสมอ!
          </span>
          <br />
        </div>
      </div>
    </section>
    <section id="menu4">
      <div class="purpose">
        <div class="text textPurpose">
          <h2>ลูกเล่นในไดอารี่มีอะไรบ้าง</h2>
          <span>
            <span
              >สนุกไปกับการบันทึกไดอารี่ที่ไม่น่าเบื่อ ด้วยฟีเจอร์ต่อไปนี้</span
            >
            <ul class="functionList">
              <li class="li1">
                <img src="./assets/bookshelf.png" width="70" />
                <b>diary</b>
                <span>บันทึกข้อความสูงสุด500ตัวอักษร</span>
              </li>
              <li>
                <img src="./assets/record-button.png" width="70" />
                <b>voice record</b>
                <span>บันทึกเสียงเก็บไว้ในบันทึกได้ด้วย</span>
              </li>
              <li>
                <img src="./assets/feelings.png" width="70" />
                <b>mood icons</b>
                <span>มีไอค่อนอารมณ์สุดน่ารักให้เลือกถึง8แบบ 8อารมณ์</span>
              </li>
              <li class="li2">
                <img src="./assets/exercise.png" width="70" />
                <b>Activities</b>
                <span>มีกิจกรรมให้เลือกหลายแบบหลายประเภทในการบันทึก</span>
              </li>
            </ul>
          </span>
          <br />
        </div>
        <div class="img">
          <img src="./assets/p1.png" width="600px" />
        </div>
      </div>
    </section>
    <section id="menu7">
      <div class="mh">
        <h1>Mental Health Test</h1>
        <h3>แบบทดสอบด้านสุขภาพจิต</h3>

        <div class="totalbox">
          <div class="testBox">
            <h2>แบบทดสอบโรคซึมเศร้า</h2>
            <span>แบบทดสอบโรคซึมเศร้า9Q จากกรมสุขภาพจิต</span>
          </div>

          <div class="testBox">
            <h2>แบบทดสอบโรคเครียด</h2>
            <span>แบบทดสอบโรคเครียด ST5 จากกรมสุขภาพจิต</span>
          </div>

          <div class="testBox">
            <h2>แบบทดสอบโรคการฆ่าตัวตาย</h2>
            <span>แบบทดสอบโรคการฆ่าตัวตาย8Q 8คำถามจากกรมสุขภาพจิต</span>
          </div>

          <div class="testBox">
            <h2>แบบทดสอบตัวชี้วัดความสุข</h2>
            <span>แบบทดสอบตัวชี้วัดความสุข THMI15 จากกรมสุขภาพจิต</span>
          </div>
        </div>
      </div>
    </section>

    <section id="menu6">
      <div class="text">
        <h1>Download Our Application</h1>
        <h2>Free download!</h2>
        <div><button>DownLoad</button></div>
      </div>
    </section>
    <section id="menu5">
      <div class="footerText">
        <img src="./assets/facebook.png" width="35" />
        &nbsp;&nbsp;
        <img src="./assets/github.png" width="35" />
      </div>
      <span class="line"></span>
      <br />
      <span class="endCredit">
        <p>Mood Tracker</p>
        <p>CopyRight 2020 @demo Studio</p>
      </span>
    </section>
  </div>
</body>
