
nav{
  width: 100%;
  background-color: white;
  height: 70px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  font-family: 'Prompt';
}
.menu li{
  list-style: none;
  padding: 15px;
  cursor: pointer;
}
.menu li a{
  text-decoration: none;
  color: black;
}
.menu{
  width: 80%;
  display: flex;
  padding: 0;
  align-items: center;
}
.menu li:last-child{
  margin-left: auto;
  font-family: 'Prompt';
}
.menu li:first-child{
  margin-right: auto;
}
/* #menu1,#menu4{
background-color: blue;
} */
.head , .stat{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 70%;
}
.howItWork{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Prompt';
}
.text h2,span{
  font-family: 'Prompt';
  line-height: 1;
}
.text h1{
  font-size: 45px;
  font-family: 'Caveat Brush', cursive;
}
.text h2{
  font-size: 30px;
}
.text span{
  display: flex;
  flex-direction: column;
  width: 400px;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.howItWork .box{
  width: 300px;
  height: 400px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.336);
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.howItWork .box h2 {
  font-family: 'Prompt';
}
.howItWork .box img{
  padding-bottom: 1em;
}
#menu6 .longBox{
  width: 60%;
  height: 70px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.336);
  margin-right: 30px;
  margin-top: 30px;
}
#menu1{
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #2051E9; */
}
#menu1 .head .text a {
  text-decoration: none;
  color: black;
}
#menu7  .text  h3 {
   font-family: 'Prompt';
   text-align: center;
}
#menu2 , #menu3, #menu4 ,#menu6, #menu7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  padding-top: 5em;
  padding-bottom: 5em;
  font-family: 'Prompt';
}
#menu5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5em;
  background-color: #EFF7FE;
}
.purpose{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  width: 70%;
}
.line{
  width: 100%;
  border-bottom: 1px solid gray;
  padding-top: 20px;
}
#menu5 .text , #menu6 .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .textPurpose h1{
  margin-top: auto;
} */

.functionList{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2;
  padding: 0;
  flex-wrap: wrap;
}
.functionList li{
  padding: 10px;
  width: 180px;
  height: 180px;
  margin-right: 15px;
  margin-top: 15px;
  /* box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.144); */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Prompt';
}
.functionList li span {
  font-size: 10px;
  display: flex;
  width: auto;
  flex-wrap: wrap;
}
.functionList li h3 {
  font-family: 'Prompt';
  padding-bottom: 0 !important;

}

.endCredit{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footerText{
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.testBox{
  display: flex;
  padding: 20px;
  width: 300px;
  height: 150px;
  margin-right: 1em;
  margin-top: 1em;
  flex-direction: column;
}
.testBox span , h2{
  text-align: left;
  font-family: 'Prompt';
}
.mh{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.mh h3 , span{
  font-family: 'Prompt';
  text-align: center;
}
.mh h1{
  font-size: 45px;
  text-align: center;
  font-family: 'Caveat Brush', cursive;
}
.totalbox{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10em;
}
#btnDw{
  background-color: rgb(32,81,233) !important;
  color: white !important;
  box-shadow: 5px 5px 10px rgba(32, 82, 233, 0.397);
}
